[2018-01-13 19:18] DreadMcLaren opened #1 "Downloads Same Song for certain countries(US)"
Regardless what I download, it always downloads "David Guetta - Dirty Sexy".

This happens with both .mp3 and .flac files.

https://imgur.com/a/5wYHY
https://imgur.com/a/jHl8H

[2018-01-13 19:21] ExtendLord commented on #1
What is your operating system and arch?<br/>
Where are from?<br/>
It is probably a bug with Deezer and not the software.<br/>
Someone else tried both this software and another software(Deezloadr) and it downloaded him the same song("Mad man").<br/>

[2018-01-13 19:26] DreadMcLaren commented on #1
What is your operating system and arch?

Windows 10 x64

Where are from?

USA

Possible to implement a fix to eliminate using a VPN?

[2018-01-13 19:48] ExtendLord commented on #1
@DreadMcLaren I apologize but I have no clue why some people from USA have the same problem.
I can't really do anything about this.
http://www.deezer.com/us/track/412536982
What do you see when you try to go to this track?

[2018-01-13 19:52] DreadMcLaren commented on #1
@ExtendLord This is what I see when I click the link you provided:

https://imgur.com/a/32aTX

[2018-01-13 20:06] Onphie opened #2 "Linux app is bugged"
# Edit: nvm, compiling it from source did the trick! :smile:

(Sorry for my English) App is bugged in Linux, charts doesn't show nothing, settings are blank and artworks doesn't work, downloads work but without artworks.

![captura de pantalla de 2018-01-13 20-59-12](https://user-images.githubusercontent.com/28726562/34909624-fe2b7868-f8a4-11e7-9643-afe7d262df61.png)
![captura de pantalla de 2018-

[2018-01-13 20:32] #2 closed

[2018-01-13 21:12] ExtendLord commented on #1
@DreadMcLaren Fortunately for you, I have debugged the software and I'm fixing the US problem.

[2018-01-13 21:19] cauavm15 commented on #1
Why does my program close when I click to download some music?

[2018-01-13 21:25] cauavm15 commented on #1
Omg, I downloaded it again and it's right.

[2018-01-13 22:23] dekiller82 opened #3 "Will crash with older versions installed."
I managed to fix it myself but it might be handy to include it in the readme.

So for the people that are trying to use this version but it keeps crashing delete the following directorys first!

C:\Users\[USERNAME]\AppData\Roaming\Deezloader
C:\Users\[USERNAME]\AppData\Local\Temp\deezloader-imgs

EDIT: Added info to the readme and created a pull-request but i'll leave this up in case people have t

[2018-01-13 23:24] dekiller82 opened #5 "Crash if you download a playlist with a song that is not available in your country."
Workaround: Make free deezer account > Copy the playlist to a new playlist on your account > Remove unavailable songs > Download

[2018-01-13 23:35] syvhmx opened #6 "Add genre + part (eg: disc 1 of 2) tag"
It seems incomplete that a song does not have a genre tag, especially.
And so far, I've used and looked into other downloader and source code and tried it myself,
but to no avail (genre shows 'undefined').

Edit: I found from the Deezer Developer API for the genre tag, which is available in the album under the string "genre_id" and "genres" - "name" (looking through API Explorer)

Sample code:
htt

[2018-01-14 00:09] LordZane commented on #1
Quick note, making a free account and adding your sid to the api file fixes this

[2018-01-14 00:12] ExtendLord commented on #1
@LordZane I have a better idea

I will add an option for getting info though a proxy.

When the software gets the info of the track it does this through a proxy and then it downloads it normally without a proxy.

[2018-01-14 00:18] JoelAlone opened #7 "Syncing problem between tagging and image grabbing."
Each time downloading the same album different songs have them missing.

[2018-01-14 07:34] majikagun opened #8 "Add log window"
Can you add a log so we can see what the program is downloading especially when downloading a playlist. That would be great if you add this. Thanks

[2018-01-14 07:36] ExtendLord commented on #7
Names of the albums that have missing metadata please

[2018-01-14 11:14] MiiLee94 commented on #5
Seems like it;s not only that, I deleted all the songs that weren't available from this playlist
http://www.deezer.com/playlist/4032001802?utm_source=deezer&utm_content=playlist-4032001802&utm_term=460370651_1515927952&utm_medium=web
Then it downloaded around 30 songs and crashed, so I deleted the songs it downloaded from the playlist and tried again, it downloaded one song and crashed again. So I

[2018-01-14 11:45] JoelAlone commented on #7
Basically every album if effected songs just randomly don't have metadata, probably it'd also happend when downloading single songs. Here is an example of downloading Metallica album 3 times:
![0of1f7l](https://user-images.githubusercontent.com/20167275/34915531-bbca0460-f928-11e7-8824-5aafac7730f3.png)
![ucbkyak](https://user-images.githubusercontent.com/20167275/34915532-bbe47c78-f928-11e7-8346-

[2018-01-14 12:05] ExtendLord commented on #7
@JoelAlone I'm releasing an update very soon(1-3 Hours) about the tags problem.
The update will also remove the flaclib folder because I have found a node js flac wrapper so its multi platform now.

[2018-01-14 12:08] JoelAlone commented on #7
Nice thank you

[2018-01-14 14:02] JoelAlone commented on #7
@ExtendLord Can you upload updated exes? I compiled from source and now app is constantly crashing after downloading couple songs

[2018-01-14 14:26] ExtendLord commented on #7
@JoelAlone I'm compiling for windows mac and linux and patching something

Can you run deezloader using cmd?

It will show you some logs from the software

When it will crash send me the logs of the crash from the cmd

[2018-01-14 14:38] JoelAlone commented on #7
@ExtendLord
[code]

[2018-01-14 14:47] ExtendLord commented on #7
@JoelAlone Can you give me the link to the album/playlist that you've tried to download?

[2018-01-14 14:50] JoelAlone commented on #7
@ExtendLord http://www.deezer.com/en/album/5941967

[2018-01-14 15:37] ExtendLord commented on #7
@JoelAlone DeezLoader Reborn is updated, clone again and compile or download the installer and try again.

[2018-01-14 15:59] JoelAlone commented on #7
@ExtendLord Still crashes
[code]

[2018-01-14 16:43] syvhmx opened #9 "Create album folder with format: %artist% - %album% [%year%]"
For example, "Kendrick Lamar - DAMN." can be "Kendrick Lamar - DAMN. (2017)".
This is to fix the last dot in albums or playlists, unable to delete, even though a fix is made before (?) by removing it automatically. A simple yet effective way if you tend to 'accidentally' break it during any updates.

Edit: Apparently the dot is still available as of 3.0.1. Hopefully fixed using  in 3.0.2. :+1:

[2018-01-14 17:21] ExtendLord commented on #9
I will add a filter for the dot at the end.
I will add %year% as well.

[2018-01-14 17:22] syvhmx commented on #9
thanks :+1:

[2018-01-14 17:25] ExtendLord commented on #7
@JoelAlone Can you please replace the app/app.js with this https://pastebin.com/LDeChz8D and compile again?
This one contains a different debug codes.
Not sure why does let cover = fs.readFileSync(metadata.image); tries to open Program Files + the image.

[2018-01-14 17:38] JoelAlone commented on #7
@ExtendLord btw where does it store config files, maybe I should clear them after update? Uninstalling desn't remove them

[2018-01-14 17:41] ExtendLord commented on #7
@JoelAlone Clean %temp% folder and %appdata%/Deezloader

[2018-01-14 17:44] JoelAlone commented on #7
[code]

[2018-01-14 17:49] syvhmx opened #10 "Decoding failure at songs"
The song is "Joseph Vincent - Location", is 24-bit rather than 16-bit normally.
Don't know if it affects the song or album.
Error goes like this:
`Decoding failure at 2:02.044 (Unsupported format or corrupted file)`
The encoding tool is also renamed to Lavf57.2.100 rather than libFLAC.

[2018-01-14 17:55] ExtendLord commented on #10
@syvhmx
First time I see a 24bit audio in Deezer.
Where did you saw that error?

[2018-01-14 17:57] syvhmx commented on #10
Foobar2000.

[2018-01-14 17:58] ExtendLord commented on #10
@syvhmx Maybe because the vendor I put for the tagger is libflac and there is no code that checks if its a libflac or Lavf

[2018-01-14 18:01] syvhmx commented on #10
@ExtendLord Maybe, I don't know code really :sweat_smile:

[2018-01-14 18:13] JoelAlone commented on #7
Good thing is that all songs i've downloaded so far had their metadata

[2018-01-14 18:24] ExtendLord commented on #9
#ff8af02

[2018-01-14 18:25] ExtendLord commented on #9
ff8af02cb24d573fbe842a49752ac205b251e0ac

[2018-01-14 18:30] ExtendLord commented on #7
@JoelAlone The problem is that the image grabber is not syncing with the tagger 😠
And all of that because of JavaScript, the worst programming language.

[2018-01-14 18:31] ExtendLord commented on #8
@majikagun I need more explanation.
If you want to see the files you are downloading just go to Downloads section.

[2018-01-14 18:33] ExtendLord commented on #6
@syvhmx Fixed as a part of Tags Update

66bcf7731ea5886a099ae39952c4e5a183b29713

[2018-01-14 18:33] #6 closed

[2018-01-14 18:34] ExtendLord commented on #5
Referenced to #1

[2018-01-14 18:36] #8 closed

[2018-01-14 19:48] MiiLee94 commented on #3
Should that fix my crashing, I'm downloading a playlist and it crashes on a song that is available in my country, and if I try to download that song only than it works, should I make a New Issue?

[2018-01-14 19:52] fabriccioguzman opened #11 "the app it closes when you add an album track playlist"
it closes when you add an album track playlist that is or is not available or when a bug or error occurs does not give an error message it simply closes
I suggest that you make this app not close when an error occurs and try to eliminate the block by region of the music: http://www.deezer.com/en/playlist/2167349906

[2018-01-14 20:05] ExtendLord commented on #11
@fabriccioguzman I'm on it.

[2018-01-14 20:17] syvhmx commented on #9
I think I mistakenly tell you.
The part where the variable %year% is added not to the track names (that's okay), but to the **album folder**
(Settings only allows editing track names, not folder names)
(You can't change it in Settings unless you create a new customizable one).
From this folder name:
[code]

to this folder name:
[code]

Sorry for that :sweat_smile:

[2018-01-14 20:29] ExtendLord commented on #9
@syvhmx I will add that too
@syvhmx Great idea

[2018-01-14 20:35] ExtendLord commented on #11
#5

[2018-01-14 20:37] ExtendLord commented on #11
@fabriccioguzman
d6dc6919616a8be743cb484a80099d85c6c5d459
Fixed

[2018-01-14 20:37] #11 closed

[2018-01-14 20:38] ExtendLord commented on #5
@dekiller82 @MiiLee94
d6dc6919616a8be743cb484a80099d85c6c5d459
Fixed

[2018-01-14 20:38] #5 closed

[2018-01-14 20:50] manny729 commented on #1
still not working for me im in usa try dl luis marte -the light and get this 1 - David Guetta - Dirty Sexy Money (feat. Charli XCX & French Montana) (GLOWINTHEDARK Remix)  im on windows 10 64 bit

Version: 3.0.1

[2018-01-14 21:05] ExtendLord commented on #1
@manny729 I did not fixed it yet

[2018-01-14 21:06] manny729 commented on #1
ok ill wait no rush thx

[2018-01-14 22:37] dekiller82 commented on #5
Thanks for working on it but it seems to still not work properly. I still get a crash when downloading the playlist. Win 10 x64. 3.0.1 http://www.deezer.com/nl/playlist/3727826982

[2018-01-14 23:07] D0ragn opened #12 "Unable to download songs blocked for region"
I've been trying to download some songs restricted by region, as "There Must Be More To Life Than This" from queen and michael jackson. Since this is not available in my country and some similar songs

[2018-01-14 23:19] ExtendLord commented on #12
@D0ragn Then use a VPN, I have no other solution.

If it crashes when you try to you will have to compile the source by yourself untill I will release a new version.

486085129fd2c17eb72f55bfbef4555534b0479c

[2018-01-14 23:21] ExtendLord commented on #5
@dekiller82 @MiiLee94 I apologize for the problem.<br/>
It should be fixed now 486085129fd2c17eb72f55bfbef4555534b0479c <br/>
Please clone again the source and compile again, go and check to see if there is any problem.<br/>
Thank you for the report.<br/>

[2018-01-14 23:24] ExtendLord commented on #3
@dekiller82 Maybe I will add a FAQ section and add it inside.

[2018-01-14 23:30] D0ragn commented on #12
With or without a vpn I'm unable to download those songs

[2018-01-14 23:31] dekiller82 commented on #3
Seems good. As long as people know this is a known thing.

[2018-01-14 23:32] ExtendLord commented on #12
@D0ragn That is because you chose a country that is blocked from downloading this specific song.
Where are you from and what is the location you chose for the VPN?

[2018-01-14 23:33] D0ragn commented on #12
I'm from Peru, i'm trying to download from USA, UK, Astralia and Japan

[2018-01-14 23:35] ExtendLord commented on #12
@D0ragn Can you download anything else?

[2018-01-14 23:37] D0ragn commented on #12
I search a couple of albums that are not in my country and download without problems

[2018-01-14 23:37] #3 closed

[2018-01-14 23:39] D0ragn commented on #12
i search those albums on google and choose the URL download option, because the program don't listed that albums, since they are not available in my country, i'm still using the vpn ion the release country of the albums

[2018-01-14 23:40] dekiller82 commented on #5
Eyyy seems to be fixed now 👍 Thank you.

[2018-01-14 23:41] ExtendLord commented on #12
@D0ragn How the software behaves when you try to download something that you are unable to?

[2018-01-14 23:43] ExtendLord commented on #12
@D0ragn Well I can't play it by myself on Deezer so the problem is not related to the software.

[2018-01-14 23:47] D0ragn commented on #12
The behave is normal, in the queen song the software show the download complete icon but in the download folder nothing.
When I dowloaded as full album the download is ok also, the song is skiped and the file folder show:
tracks 01, 02, 04 and missed the 03 that is the country blocked track.

In the case of the other albums blocked, they downloaded normally without any problem.

[2018-01-14 23:49] D0ragn commented on #12
are you able  to listen these two songs?
these are blocked in my country:
http://www.deezer.com/es/track/88845365
http://www.deezer.com/es/track/5755830

[2018-01-15 00:26] GithubUser5462 opened #13 "Trailing dot - addendum"
Hello, first of all thank you for maintaining and sharing this great software.

I noticed you made a patch for the trailing dot problem on windows.
I'd like to ask you to tweak the patch a little, since some albums have more than one dot at the end.
Worst case example there is even an album by "They've Shot Flanigan" titled just "...".

Changing the line 850 from:
`if(str[str.length-1] == "."){`
t

[2018-01-15 01:27] altntowin opened #14 "could you make a website for the application?"
Hi i love deezloader , but  , would be good if you create a website for deezloader , it will be more friendly for the users
please

[2018-01-15 02:05] deomkds opened #15 "Can't download song with / (forward slash) in the name."
If you try to download a song with a forward slash ( / ) in the name, Deezloader will report the download succeeded, but no file will be created on disk. The download folder will remain empty.

I noticed this while trying to download "TINFOIL / POWERLESS (Instrumental)" from _LIVING THINGS: Acapellas and Instrumentals_, an album by Linkin Park.

[2018-01-15 03:14] mvusmvus opened #16 "Deezloader downloads CORRUPTED flac streams"
I learned that some of the flac files DeezLoader downloads are corrupted, and re-downloading them does not help. Take [this release](https://www.deezer.com/album/1146141) for example. No matter how much times I download it, [tracks 1 and 3 always end up corrupted, which I learned by using "Verify Integrity" utility in foobar2000](https://i.imgur.com/qTBShBk.jpg). The reason I know that the files a

[2018-01-15 03:19] mvusmvus commented on #14
The dev(s) should primarily concentrate on eradicating existing issues. Besides, the friendlier it's made for the users, the more widespread it gets. The more widespread it gets, the more attention it attracts. The more attention it attracts, the higher the chances of Deezer people patching the vulnerability.

[2018-01-15 03:22] mvusmvus commented on #15
Yep, same here.

[2018-01-15 03:51] xyBuskin opened #17 "Deezloader Crashes on Downloading URL & Playlist"
Hey Guys,

I'm having the following issue: Deezloader 3.0.1 crashes whenever I attempt to download from a URL or Playlist. Sometimes it will download a couple of songs sometimes none sometimes most, but always crashes at some point. I've also tested downloading from charts - works fine, Album - works fine.

OS: Mac OSX 10.13.2
VPN: Currently Brazil but have also tried Canada,Australia,NZ,UK
URL Te

[2018-01-15 05:03] ExtendLord commented on #12
@D0ragn Nope

[2018-01-15 05:07] ExtendLord commented on #17
@xyBuskin Can you please go to the terminal and run deezloader from there?
And show me the logs after it crashes.

[2018-01-15 05:18] ExtendLord commented on #16
![default](https://user-images.githubusercontent.com/26222159/34928146-3f5200ee-f9c4-11e7-9d54-a6c6e56d1fc7.png)
@mvusmvus "Verify Integrity did not showed me a warning when I scanned a FLAC file.

[2018-01-15 05:24] ExtendLord commented on #14
It will be a no for now @altntowin @mvusmvus .

[2018-01-15 05:24] #14 closed

[2018-01-15 05:31] mvusmvus commented on #16
Try downloading this release
https://www.deezer.com/album/1146141

[2018-01-15 05:35] ExtendLord commented on #16
@mvusmvus It could be because of the tags system.

[2018-01-15 05:39] ExtendLord commented on #16
@mvusmvus For some reason "NYC" is identical with the one that I've downloaded using a plugin in tampermonkey and the other two are different.
So its probably not because of the tags.

[2018-01-15 05:44] mvusmvus commented on #16
Probably not, no. What's funny is that only certain files end up corrupted.

Regardless, this is a pretty serious issue. Any idea how to fix it?

[2018-01-15 05:45] ExtendLord commented on #16
@mvusmvus I will try to find out the reason behind it.
When I will have time

[2018-01-15 05:48] mvusmvus commented on #16
That would be nice. From my perspective this matter is a #1 priority. I mean, the app is just downloading corrupted files.

[2018-01-15 06:55] ExtendLord commented on #12
@D0ragn the issue is closed due to not being a problem.

[2018-01-15 06:55] #12 closed

[2018-01-15 06:56] ExtendLord commented on #12
Blocked songs cant be bypassed by any software.
And VPN can only bypass if the country is available

[2018-01-15 09:23] canout commented on #17
Hi guys,
Here is the error :
`Trace: TypeError: Cannot read property '1' of null
    at Deezer.<anonymous> (C:\Users\azerty\AppData\Local\Programs\DeezLoader\resources\app\deezer-api.js:170:31)
    at Request.self.callback (C:\Users\azerty\AppData\Local\Programs\DeezLoader\resources\app\node_modules\request\request.js:186:22)
    at emitTwo (events.js:106:13)
    at Request.emit (events.js:194:7)

[2018-01-15 09:35] ExtendLord commented on #17
@canout what is the name of the track, album or playlist?

[2018-01-15 09:44] ExtendLord commented on #17
@canout You can get the current dev version by compiling it and try to see if it got fixed

[2018-01-15 09:52] canout commented on #17
@ExtendLord I have used the playlist provided by @xyBuskin ( http://www.deezer.com/us/playlist/4035485582 )
I'll try with dev version asap.

[2018-01-15 10:10] Uukrull commented on #16
I created a PR that fixes the problem: https://github.com/ExtendLord/DeezLoader-Reborn/pull/18

[2018-01-15 10:31] majikagun commented on #8
I mean when you are downloading a  playlist. We can't see what the program is downloading. Only the number of songs and number of failed.

[2018-01-15 12:42] canout commented on #17
@ExtendLord
On Windows 10 I have an error when entering "npm start dist". I will investigate later.
On Linux the app doesn't crash while downloading the previoulsy mentionned playlist. We can see the following error but no crash.
`
Downloading file to /home/azerty/tmp/deezloader/Synthwave_ a playlist by gbroad84 on Spotify/1 - Mitch Murder - Breeze.mp3
Downloaded: Mitch Murder - Breeze
Downloading

[2018-01-15 13:54] BNFCTR opened #19 "libFLAC difference"
I've downloaded a few albums so far (using v3.0.1) but while looking at media infos of songs I've noticed that some songs' libFLAC versions are different than the others. Is it normal to be that way or is it some kind of bug or something?

[2018-01-15 14:03] xyBuskin commented on #17
@ExtendLord Here we go (some of the files were already downloaded so i excluded all except the last msg):

Downloading file to /Users/adj/Music/Deezloader/Timecop1983 - Reflections/14 - Timecop1983 - After Life (Outro).mp3
Already downloaded: Timecop1983 - After Life (Outro)
Trace: TypeError: Cannot read property '1' of null
    at Deezer.<anonymous> (/Applications/DeezLoader.app/Contents/Resource

[2018-01-15 14:38] canout commented on #17
I've read the code.
Problem solved in commit d6dc691.

[2018-01-15 14:58] ExtendLord commented on #16
@Uukrull Fixed the problem f50d175481f8e1233827b5c8eae066257e0555f7
Did a double check on the album you have tried and a couple of songs.

[2018-01-15 14:58] #16 closed

[2018-01-15 15:02] ExtendLord commented on #10
f50d175481f8e1233827b5c8eae066257e0555f7
@Uukrull Fixed this problem I think, if the problem still exists(You need clone the repository and compile it), reopen this issue.

[2018-01-15 15:02] #10 closed

[2018-01-15 15:03] syvhmx commented on #10
@ExtendLord So far, no problems. Thanks too @Uukrull :+1:

[2018-01-15 15:11] ExtendLord commented on #19
@Uukrull released a new patch f50d175481f8e1233827b5c8eae066257e0555f7 .
You can clone this repo(Downloading the zip) and run compile.bat/compile.sh to compile it and try out if the libFLAC version is still different in different songs.

[2018-01-15 15:16] syvhmx commented on #15
Yup, Windows file formatting. It's built that way.
If you try to name a folder or file, you cannot use these symbols:
`\ / : * ? " < > |`

The best way to do is to replace the above symbols for Windows OS (or Linux and macOS too if you want) to a dash (-) or a dot/period (.) Maybe that should fix it. @ExtendLord

On second thought, maybe just removing any above symbols when creating a folder/file

[2018-01-15 15:23] syvhmx commented on #19
libFLAC version is still different, but no problems. File integrity checked. All fine. Some have the same version, while some would use Lavf32.

Does it affect songs if they differ?

[2018-01-15 15:32] ExtendLord commented on #19
@syvhmx No.
I will still check about it but that would be the last thing now.

[2018-01-15 15:32] #19 closed

[2018-01-15 15:33] syvhmx opened #20 "Some songs don't have genre tag (It never has)"
I've checked on songs, like:
`Maher Zain - One (album)`
According to their API, it never has a genre tag. Goes like this:
[code]
Is is better to leave as 'undefined' in the tag or remove it?

[2018-01-15 15:43] ExtendLord commented on #20
c516563edfdcf3036fa776ccbe4077b32bd47a82
Fixed

[2018-01-15 15:43] #20 closed

[2018-01-15 15:43] ExtendLord commented on #13
c516563edfdcf3036fa776ccbe4077b32bd47a82
Fixed

[2018-01-15 15:43] #13 closed

[2018-01-15 15:44] ExtendLord commented on #15
@syvhmx The name is filtered already so that is not the problem.
I will check it out soon

[2018-01-15 16:29] Jeffdow85 opened #21 "Android"
Hey, is there any way to compile for android apk? or what files and port number can i use to run a node.js server with Servers Ultimate (android app) or similar regards jeff and thanks for keeping this project alive !

[2018-01-15 16:37] ExtendLord commented on #21
I apologize but there is no support for android nor will be any time soon.

[2018-01-15 16:37] #21 closed

[2018-01-15 16:38] Jeffdow85 commented on #21
No worries thanks anyway working fine on windows for me :)

[2018-01-15 18:30] tac00 opened #22 "DeezLoader from remote server"
Is it possible to make a version of Deezloader that can be hosted on a remote server. Maybe this could be updated: https://github.com/nemesis122/Deezloader

[2018-01-15 19:03] vishwarajsali opened #23 "Always download EL BAÑO."
Whenever I am trying to download songs always download EL BAÑO.

[2018-01-15 19:26] Razer2333 opened #24 "App Crashes on Downloading Albums & Playlists URL"
copy a playlist link and start download but the app closed ater download 6 songs .. ive tested every playlist with every ip (vpn) .. ive changed download folder too but no luck

[2018-01-15 19:30] syvhmx commented on #24
This issue is a duplicate from before:
`Deezloader Crashes on Downloading URL & Playlist`
Refer to that.

[2018-01-15 19:38] Razer2333 commented on #24
@syvhmx oh my bad sorry
but ive checked the fixed code and problem is still here
it still crashes whenever I attempt to download from a URL or Playlist

[2018-01-15 19:39] syvhmx commented on #24
@Razer2333 Can you give the playlist link? I'll try downloading it.

[2018-01-15 20:12] #23 closed

[2018-01-15 20:19] Razer2333 commented on #24
@syvhmx This playlist for exampel :
http://www.deezer.com/en/playlist/2562102388

[2018-01-15 20:57] syvhmx commented on #9
@ExtendLord Found a fix to do that.
in app.js : (I have to tick 'Create Album Folder in Settings' to enable it)
[code]
TLDR; just add [${metadata.year}] to the end of filename.

I don't know how to do it without ticking 'Create Album Folder' in Settings.

[2018-01-15 22:14] syvhmx commented on #9
I tried using this:
`downloading.settings.addToPath = downloading.artist + " - " + downloading.name + " [" + downloading.date + "]";`
Output : `Lil Pump - Gucci Gang [undefined]`

[2018-01-15 22:35] ExtendLord commented on #24
@Razer2333 Can you please compile the project(Download the zip, extract and npm install && npm run dist on terminal/cmd) and then run deezloader in the terminal/cmd?

[2018-01-15 22:48] Jaime0657 opened #25 "the application stops working when it tries to download more than download more than 65 songs"

[2018-01-15 22:52] deomkds commented on #15
I'm on macOS 10.13, sorry for not mentioning that.

I've also tried changing the _Track names_ option in Settings to something that doesn't include the actual track name, but that didn't work either. It still couldn't create the file.
![captura de tela 2018-01-15 as 20 51 43](https://user-images.githubusercontent.com/5448503/34964687-eacff536-fa35-11e7-9bfa-cf17c9d6299f.png)

[2018-01-15 23:25] Razer2333 commented on #24
@ExtendLord Ive downloaded the dev version and i didnt get any cashes or force closes but
ive tried to download some playlists and there is toooo much Failed Downloads .. here is the errors :

Downloading file to C:\Users\Administrator\Downloads\Music\Easy Monday\1 - Justi
n Bieber - Friends.mp3
Downloaded: Justin Bieber - Friends
error: error Error: Unable to get Track
    at Deezer.<anonymous> (

[2018-01-15 23:32] ExtendLord commented on #15
@deomkds @syvhmx @mvusmvus This song is not even playable in deezer its self so thats why the software did not downloaded it(Compiling the software), the 3.0.1 will crash.
Open the issue if anything else is needed.

[2018-01-15 23:32] #15 closed

[2018-01-15 23:34] ExtendLord commented on #22
@tac00 Remote servers are not supported now but maybe I will add a support in a future.

[2018-01-15 23:34] ExtendLord commented on #25
@Jaime0657 Name of albums/playlists/tracks?

[2018-01-15 23:45] ExtendLord commented on #24
@Razer2333 I found out just now that the songs that has errors "Unable to get Track" are because of a 404 when trying to get to the page.
I'm trying to figure out a solution.

[2018-01-15 23:48] ExtendLord commented on #17
Now there should not be a crash.
The only bug in downloading content is "Unable to get track" which will not download a song because the song does not have a /track page.
I'm trying to figure out a solution.

[2018-01-15 23:48] #17 closed

[2018-01-15 23:49] #22 closed

[2018-01-15 23:49] Razer2333 commented on #24
@ExtendLord i think its beacuse of ip adress & location .. dont know 🤔

[2018-01-16 00:31] syvhmx opened #26 "Track names for more than one disc"
The order is like this:
[code]

This will prevent songs with 2 discs to be like this:
![afas](https://user-images.githubusercontent.com/33489835/34966533-1b1f6148-fa65-11e7-92d9-8568b6d36913.PNG)
.

or I can just turn on the 'Part of a set' column. :smile:

[2018-01-16 00:57] Jaime0657 commented on #25
http://www.deezer.com/playlist/3546133526?utm_source=deezer&utm_content=playlist-3546133526&utm_term=1639339566_1516064007&utm_medium=web

I try using a vpn but still not working

[2018-01-16 01:04] Eduardo44 opened #27 "Can you create deezloader-server version? Please"

[2018-01-16 01:05] syvhmx commented on #27
See #22

[2018-01-16 01:10] Eduardo44 commented on #27
I have a deezloader-server update after that deezer changed the API but it have not all features like FLAC quality

[2018-01-16 01:11] ExtendLord commented on #27
Sorry but server version will not be available soon, maybe in the future.

[2018-01-16 01:11] #27 closed

[2018-01-16 01:21] mvusmvus opened #28 "Option to save artwork in a folder"
Basically, this. An option to select resolution and name of artwork image that will be saved to album's folder.

[2018-01-16 07:14] virtualviolet opened #29 "Tracks not downloading, creates empty folder"
Hi Extendlord

I am finding that some albums don't download, the UI doesn't say it failed, but the folder is empty. I have feeling that with HIFI enabled, some tracks are not uploaded as FLAC so don't download, but I could be completely wrong.

I will test with HIFI disabled and update this issue with more info.

K

[2018-01-16 07:21] virtualviolet opened #30 "Feature Request: Download Queue Persistence"
Please can make the download queue persistent between app closing/crashing and re-opening?

[2018-01-16 07:41] virtualviolet commented on #29
Ok, so yes confirmed. It seems that some artists/labels are only uploading 320k MP3's... Damn. With HIFI disabled the tracks download ok.

[2018-01-16 07:59] virtualviolet commented on #29
Could you add a feature where with HIFI enabled, you have two columns for the download button/s, one button for MP3 and the other for FLAC? So when HIFI is enabled but FLAC is not available the FLAC button greyed out. Just remove the HIFI option and have two buttons, one for MP3 and the other for FLAC...

[2018-01-16 08:22] ExtendLord commented on #29
Can you clone this repo(download the zip) and compile it?
Then run the deezloader you have just compiled and check if there is still an issue

[2018-01-16 08:30] ExtendLord commented on #26
I need to get the last track numbers of each disc and add it or create a disc 1 and disc 2

[2018-01-16 08:35] virtualviolet commented on #29
Yes, before I do, can I ask what you have changed? Was it not what I thought and something else?

[2018-01-16 08:37] ExtendLord commented on #29
@virtualviolet You can check the commits after the 3.0.1 commit to see what is chaned.
I will release an update soon

[2018-01-16 08:38] ExtendLord commented on #28
There is an option for resolution and it is saved in a temporary folder for artwork

[2018-01-16 08:40] #28 closed

[2018-01-16 09:06] aalireza439 commented on #23
I have the same issue, can you tell how you solve this?

[2018-01-16 09:10] ExtendLord commented on #23
@aalireza439bUse a VPN meanwhile untill I will solve this.

[2018-01-16 09:45] mvusmvus commented on #28
I feel as though I didn't make myself clear. What I meant is that the album artwork should be saved into the folder of a downloaded album. SMLoader does that automatically. but there's currently no such option in DeezLoader.

[2018-01-16 09:49] mvusmvus commented on #29
virtualviolet, which albums in particular do not download for you, could you provide a couple links?

[2018-01-16 10:06] mvusmvus opened #31 "Save artwork image in album folder, save artwork size"
I feel as though I didn't make myself clear last time. What I meant is that there should be an option to save album artwork into the folder of a downloaded album. SMLoader does that automatically, but there's currently no such option in DeezLoader.

One other thing - once the app is closed, the Artwork size reverts to default. That's a bug.

[2018-01-16 14:35] virtualviolet commented on #29
I am searching for them in the GUI, gave up trying to use a playlist, just bombed after 5 tracks.
By doing it an album at a time and building spreadsheet as I go, I can manage/track the downloads, if it bombs I know where I was up to... really need to save the download list in the user home dir for persistence ;-)

Guys, PM me and I will provide some details.

Also, tried to compile on Mac OS Sier

[2018-01-16 15:22] jesusemarquezz opened #32 "The app closed suddenly"
when i try to download this list [http://www.deezer.com/us/playlist/3703690826](url) the app closes suddenly

[2018-01-16 15:25] #32 closed

[2018-01-16 15:25] virtualviolet commented on #29
bigmac:~ kevin$ /Applications/DeezLoader.app/Contents/MacOS/DeezLoader
Server is running @ localhost:1730
Attempting connection to API
Attempting connection to API
2018-01-16 19:25:22.127 DeezLoader Helper[71968:3398202] Couldn't set selectedTextBackgroundColor from default ()
{ title: 'To the Sky',
  artist: 'Boris Blen',
  album: 'Goa 2012, Vol. 3',
  performerInfo: 'Boris Blen',
  trackNumber:

[2018-01-16 15:26] jesusemarquezz commented on #32
sorry this issue is duplicated #24

[2018-01-16 15:27] virtualviolet commented on #29
The error about 'Already downloaded: xxxxxx' is very strange, all of the folders were deleted before trying to download again and they are empty.

[2018-01-16 16:18] sepulchre opened #33 "Display more than 25 entries"
Hello,
the old Deezloader could only display 25 entries because the API gave by default that amount back.
We found out that the Deezer App could provide 100 if you provide a limit, not sure how much entries the new API allows, but please set the limit to 100 (or to 1000 if possible).

Here you can see the relevant code you need to tweak in the old one:

https://www.reddit.com/r/Piracy/comments/6op

[2018-01-16 17:24] ExtendLord commented on #29
@virtualviolet I'm patching the problem in less than 1 hour.
I'm commiting a fix for US and crashes.

[2018-01-16 17:36] ExtendLord commented on #1
@manny729 @LordZane @XplodingPancakes @DreadMcLaren Fixed the issue dfb3460ae0a83dd6981ab3d73db5eec08bc2a6f1

Now it will work for everybody but I need to just add the login window and 3.0.2 will be released.

[2018-01-16 17:36] #1 closed

[2018-01-16 17:36] ExtendLord commented on #24
Fixed the issue dfb3460ae0a83dd6981ab3d73db5eec08bc2a6f1

But I need to just add the login window and 3.0.2 will be released.

[2018-01-16 17:36] #24 closed

[2018-01-16 17:37] ExtendLord commented on #25
Fixed the issue dfb3460ae0a83dd6981ab3d73db5eec08bc2a6f1

But I need to just add the login window and 3.0.2 will be released.

[2018-01-16 17:37] #25 closed

[2018-01-16 17:38] ExtendLord commented on #29
@virtualviolet dfb3460ae0a83dd6981ab3d73db5eec08bc2a6f1
It should be fixed, if not, reopen the issue.
Adding a login window and 3.0.2 will be released

[2018-01-16 17:38] #29 closed

[2018-01-16 17:40] ExtendLord commented on #7
Can you try to clone the source, compile and try again?

[2018-01-16 17:42] syvhmx commented on #25
Does this mean using a master account?
If yes, then how would it cope to have >1000 IP's using it? Won't it be detected?
If yes, another project did also the same, then changed it to use own account.
If no, then ignore this.

[2018-01-16 17:45] ExtendLord commented on #25
@syvhmx lol nope.

Login window, so you will enter your username and password(Or just create another one if you suspect that the info will be stolen)

[2018-01-16 17:49] JoelAlone commented on #7
Ok I'll try in a moment

[2018-01-16 18:08] ExtendLord commented on #24
#14

[2018-01-16 18:10] JoelAlone commented on #7
@ExtendLord https://pastebin.com/7kKLnviW

[2018-01-16 20:25] stephanie00100 opened #34 "mp3 issues"
![image](https://user-images.githubusercontent.com/34380389/35010584-325e37fa-fab8-11e7-868a-2d2cae5f6bb5.png)

[2018-01-16 20:29] ExtendLord commented on #34
Please download and compile the project and try again.
This issue is probably fixed.
But before you compile, go to app/deezer-api.js and edit the mail and pass with yours.
I will release 3.0.2 when I will finish the login window.

[2018-01-16 20:34] stephanie00100 commented on #34
This is from the latest compile.

[2018-01-16 20:36] ExtendLord commented on #34
I will check about this problem.
The flac version works fine and 100 songs got checked
not sure why mp3 would have issues.

[2018-01-16 21:03] JoelAlone commented on #7
Same error

[2018-01-16 23:42] Jaime0657 commented on #25
can i use my own account?

[2018-01-16 23:59] jaredmfier commented on #23
SMLoadr fixed this, any chance you can implement? https://v.teknik.io/v/0CZbt

[2018-01-17 01:01] froosti opened #35 "downloading a song by Enrique Iglesias"
no matter what i try it always downloads a random song by Enrique Iglesias

[2018-01-17 02:27] WilCz opened #36 "More Tag in MP3"
Is it possible to include more data (Tag) to mp3? Example: **Label, BPM**
Thanks Developer for your support! Sorry for bad english

[2018-01-17 04:27] mvusmvus commented on #36
The labels are already presented under the tag "Publisher". The BPMs are not because this data is not presented on Deezer. Try [Mp3Tag](https://www.mp3tag.de/en/download.html) + [Beatport script](https://forums.mp3tag.de/index.php?showtopic=14479) or [Foobar](http://www.foobar2000.org/download) + [BPM component](http://www.foobar2000.org/components/view/foo_bpm).

[2018-01-17 04:35] mvusmvus commented on #35
Perhaps the universe is trying to tell you something.

Seriously though, try downloading from another country's IP by using VPN software.

[2018-01-17 08:11] ExtendLord commented on #35
I will commit an update and release 3.0.2 soon.
The update fixes alot of bugs including the US problem

[2018-01-17 08:12] #35 closed

[2018-01-17 13:58] syvhmx commented on #36
@mvusmvus there is data on BPM for tracks. Available on Deezer API:
[code]
If you can't search for it, doesn't mean it's not available in the API.

[2018-01-17 14:03] sigzegv opened #37 "Build issue with icons"
When compiling with compile.sh (archlinux here). It fails when stating a file named `res/icon.ico.icns` and it required app icns2png app to build (but I really don't know who should provide it ? user or npm ?

[2018-01-17 14:34] syvhmx opened #38 "Track year show 0000 but album year shows correct one"
The songs from these tracks shows the year 0000-00-00:

[code]

But the albums show different one:
[code]
Above info is from the API.

Solution:
To use the album year if track year is 0000-00-00.

[2018-01-17 14:36] ExtendLord commented on #38
@syvhmx lol

[2018-01-17 14:41] yooda120 opened #39 "downloading incorrect song"
for some reason it's download incorrect song..
no matter what i'm trying to download i get only this song ..
"1 - Enrique Iglesias - EL BANO"
HeLp Me:)

[2018-01-17 14:43] syvhmx commented on #38
@ExtendLord Someone found it. I just pass it tho

[2018-01-17 14:45] ExtendLord commented on #39
@yooda120 I'm releasing a fix for that.
You are probably from US, that is the problem.
I'm fixing and releasing 3.0.2 so watch this repo

[2018-01-17 14:45] #39 closed

[2018-01-17 14:48] yooda120 commented on #39
Wow!!
you are the best i've seen tanks!!!

[2018-01-17 15:35] virtualviolet opened #40 "Build issue - Windows"
Hi Guys,

I have tried to build on MacOS and it fails, have now tried to build on Windows 7 and it also fails, please can you help me understand what is going on?

C:\Users\Kevin\Desktop\DeezLoader-Reborn-master>npm install

de_modules\electron

   electron-builder version=19.53.7
   loaded configuration file=package.json ("build" field)
   installing production dependencies platform=win32 arch=x6

[2018-01-17 15:40] virtualviolet commented on #9
You do realise that the format %artist% - %album% [%year%] will result in an album spread across multiple folders, some albums have other artists listed as a collaborator on a track or two...

[2018-01-17 15:42] virtualviolet commented on #40
it appears to be a problem with electron-builder, but I have no information as to why app-builder.exe is exiting...

[2018-01-17 15:47] syvhmx commented on #9
Well @virtualviolet , when I use my method for example, I try to download one that has tracks with many contributors, the folder name will still show like this:
`Martin Garrix - So Far Away`
Though the song's artist tag will have like:
`Martin Garrix, David Guetta, Martin Garrix & David Guetta feat. Jamie Scott & Romy Dya`

Just take the first artist name as the base for all the folders.

[2018-01-17 15:52] virtualviolet commented on #9
I have found if I disable the artist name and album name folder options in settings.. then it does as you say, takes the first artist name as the base for the entire album.

[2018-01-17 17:26] ExtendLord commented on #37
Try npm install && npm run dist or yarn install && yarn run dist .
If neither works then it is probably electron builders problem.

[2018-01-17 18:26] hee6933 opened #41 "Can't open albums in artist's album list"
When searching for an artist and clicking the album list icon, only the first album's songs are visible. Clicking other albums doesn't do anything, including showing an empty list.

[2018-01-17 18:30] hee6933 commented on #36
I have downloaded the same song with both SMLoadr and this program and SMLoadr has additional BPM and Publisher tags.

[2018-01-17 18:35] hee6933 commented on #36
I have downloaded some songs with both SMLoadr and this program and SMLoadr has additional BPM and Publisher tags. It also has 1400x1400 covers compared to 1200x1200.

[2018-01-17 18:37] ExtendLord commented on #36
@hee6933 I will add to the next update 1500p which is the biggest supported image on deezer

[2018-01-17 18:37] hee6933 commented on #41
And when you are at it, can you also sort them by their release dates as newest first?

[2018-01-17 18:37] jackpot08 commented on #41
I was going to report this. Only first album is clickable with album search

[2018-01-17 19:13] WilCz commented on #36
Not all the library of deezer have cover art 1400x1400, the new track yes: 1400x1400, 1500x1500 for default: 1200x1200, sorry for bad english

[2018-01-17 19:17] virtualviolet opened #42 "Deezloader - Mac - Crash"
Hi

Whilst downloading Dezzloader crashed, the  output on the console was:

Unable to initialize Deezer API
Trace: TypeError: Cannot read property 'disk_number' of null
    at /Applications/DeezLoader.app/Contents/Resources/app/app.js:609:70
    at /Applications/DeezLoader.app/Contents/Resources/app/deezer-api.js:71:13
    at Request._callback (/Applications/DeezLoader.app/Contents/Resources/app/d

[2018-01-17 19:40] ExtendLord commented on #37
I'm commiting an update for this issue and also releasing 3.0.2.
If the issue still exists reopen the issue.

[2018-01-17 19:40] #37 closed

[2018-01-17 19:41] #40 closed

[2018-01-17 19:41] virtualviolet commented on #42
It has done this a few times now :-/ Upon restarting the app, the same album downloads fine.

Please can you adjust how Deezloader handles exceptions like this and just delete the folder and restart the download... my js knowledge is poor otherwise I would fork and make the changes...

[2018-01-17 19:58] ExtendLord commented on #42
Download 3.0.2 and try it to see if you will still have problems.

[2018-01-17 20:01] virtualviolet commented on #42
Good man! I would have compiled it myself, but seem to have troubles with electron-builder :-(

Are they not just going to block the user account you have embedded? Wouldn't it make more sense to provide a login window and user user submitted details?

[2018-01-17 20:02] ExtendLord commented on #42
@virtualviolet There is a login page now, you need a deezer account(Does not matter if its free or not)

[2018-01-17 20:03] virtualviolet commented on #42
Oh cool... Can you update the mac version? it is still 3.01..

[2018-01-17 20:08] Clementzz opened #43 "Artwork not working"
Hi, everything was fine for me before updating to 3.0
Now there's no artwork on every track I download.

I tried uninstall/reinstall, use 3.0.0 and 3.0.1 but it doesn't work..
Also in my settings page I can't click anywhere around "artwork" size, but in my settings file it's set to "\1200x1200.jpg".

![screenshot](https://user-images.githubusercontent.com/35542152/35064452-6810d264-fbca-11e7-9419-

[2018-01-17 20:09] Clementzz commented on #43
Mm also can someone explain me how to update from github? I'm a bit lost with this ^^

[2018-01-17 20:10] ExtendLord commented on #43
Maybe you do not have permissions?
What is your OS?
Can you run it using terminal/cmd and send me the errors from the cmd if any?

[2018-01-17 20:15] Clementzz commented on #43
Don't think it comes from permission.. I'm on W10

cmd while downloading:

Server is running @ localhost:1730
Attempting connection to API
{ title: 'With Or Without You (Remastered 2007)',
  artist: 'U2',
  album: 'The Joshua Tree (Deluxe Edition Remastered)',
  performerInfo: 'U2',
  trackNumber: '3/25',
  partOfSet: '1/2',
  label: 'Universal Music Division Barclay',
  ISRC: 'GBUM70709792',
  du

[2018-01-17 20:16] ExtendLord commented on #43
@Clementzz Download 3.0.2 from github, I have released 3.0.2 and try again.

[2018-01-17 20:17] Clementzz commented on #43
I'll try this @ExtendLord but don't know how to install from github cause there's no .exe (I'm a github beginner haha)

[2018-01-17 20:21] ExtendLord commented on #43
@Clementzz
1. Download and install https://nodejs.org/dist/v9.4.0/node-v9.4.0-x64.msi (Node JS)
2. Download the zip file by clicking "Clone or download" and then you extract it somewhere and then you run compile.bat.
3. You go to /dist folder and you will see the installer and inside the win-unpacked folder you will see the deezloader folder.
4. Currently the github version equals the release vers

[2018-01-17 20:29] Clementzz commented on #43
Ok thanks a lot for the explanations, yes I saw it the versions are the same so I downloaded the .exe ^^

So same problem, I can't change the setting and there's still no artwork..

Less information in cmd btw:

Server is running @ localhost:1730
Downloading file to C:\Users\Cl├®ment\Music\Deezloader\Coldplay - Hymn For The Weekend.mp3
Downloaded: Coldplay - Hymn For The Weekend

I saw that in the

[2018-01-17 20:33] virtualviolet commented on #42
Ok, I'm closing this as the stability/error handling seems to be better

[2018-01-17 20:33] #42 closed

[2018-01-17 20:35] virtualviolet opened #44 "FLAC versions not downloading"
Mentioned this in another issue post, thought i would open a new one.

Some tracks only seem to be available as MP3, can anyone confirm if this is known issue with Deezer?

**Console output:**
Downloading file to X:\test3\Various Artists - Portal of Perceptions\1 - Ishq - Aphrodite.flac
Failed to download: Ishq - Aphrodite
Downloading file to X:\test3\Various Artists - Portal of Perceptions\2 - Ma

[2018-01-17 20:37] virtualviolet commented on #44
And then a few tracks from above with HIFI disabled...

**Console output:**
Downloading file to X:\test3\3 - Adham Shaikh - Ohm (Transfix mix) - Portal of Perceptions.mp3
Downloaded: Adham Shaikh - Ohm (Transfix mix)
Downloading file to X:\test3\2 - Makyo - Jasmine - Portal of Perceptions.mp3
Downloaded: Makyo - Jasmine
Downloading file to X:\test3\1 - Ishq - Aphrodite - Portal of Perceptions.mp3

[2018-01-17 20:38] ExtendLord commented on #43
@Clementzz Delete %appdata%/Deezloader and %localappdata%/Deezloader and try again, maybe that is the problem.

[2018-01-17 20:39] ExtendLord commented on #44
@virtualviolet Send link for the album/playlist.

[2018-01-17 20:40] virtualviolet commented on #44
http://www.deezer.com/en/album/571264

[2018-01-17 20:42] virtualviolet opened #45 "Download list not clearing with failed items in the list"
Just tried to clear my download list but it refuses to clear failed items...

![image](https://user-images.githubusercontent.com/18462107/35066006-8026f6f8-fbe8-11e7-897f-d9a5f3a91de7.png)

[2018-01-17 20:45] Clementzz commented on #43
@ExtendLord Done, nothing changes.. Nothing in cmd too

[2018-01-17 20:52] virtualviolet opened #46 "crash cancelling the first item in the download list"
If I cancel the first item in the download list with other items waiting, the app crashes, v3.0.1 did this also.

**Console output:**

Trace: Error: Callback was already called.
    at C:\Program Files\DeezLoader\resources\app\node_modules\async\dist\async.js:955:32
    at C:\Program Files\DeezLoader\resources\app\app.js:249:25
    at C:\Program Files\DeezLoader\resources\app\app.js:682:29
    at

[2018-01-17 20:57] axllent commented on #43
I think there may be a problem with the saving of settings. I'm experiencing something I believe is related, when I select a default `Artwork size` in settings and restart the app it goes back to 1200x1200.

[2018-01-17 20:57] ExtendLord commented on #46
#45 Duplicate

[2018-01-17 20:57] #46 closed

[2018-01-17 20:59] ExtendLord commented on #45
Yeah its a common bug, I will find out a solution for it.
It probably crashes because it callbacks twice and it causes an error.

[2018-01-17 21:03] Clementzz commented on #43
@axllent The problem is that I can't select anything about the `Artwork size` in the settings tab, as you can see on my first screenshot above.

Your setting is going back to 1200 but does it work anyway?

[2018-01-17 21:12] axllent commented on #43
@Clementzz If I set it to 800x800 it works for that session, until I restart the app, then it goes back to 1200x1200.

[2018-01-17 21:15] Clementzz commented on #43
@axllent Ok well it can be linked

[2018-01-17 21:17] Clementzz commented on #43
@axllent whay do you have around the `Artwork size` tag?
![screenshot](https://user-images.githubusercontent.com/35542152/35067419-1ad74758-fbd4-11e7-8098-75682f6ab6f4.png)

[2018-01-17 21:27] axllent commented on #43
@Clementzz Sorry, I don't understand the question "whay do you have around the Artwork size tag?" If you're meaning "what do I see"...

![settings](https://user-images.githubusercontent.com/1463435/35067829-15f21d56-fc3a-11e7-9922-90d7d9f692b9.png)

[2018-01-17 21:34] Clementzz commented on #43
@axllent yes I was meaning "what do you see", sorry ^^'
Ok so you see a list, that's so strange I have no menu, nothing for this setting.. 😒

[2018-01-17 21:45] ExtendLord commented on #44
@virtualviolet The track is only available in mp3 that is why

[2018-01-17 21:49] virtualviolet commented on #44
So did some googling and a little talking to a few friends who own labels, it's Deezer or the label distribution. Deezer only started offering FLAC last year and many labels only uploaded MP3, now they upload both. So older releases are unlikely to be available as FLAC.

[2018-01-17 21:50] #44 closed

[2018-01-17 21:50] WilCz opened #47 "Add option button pause, resume and remove of failed downloads"
It is possible to add these options in the download menu.
![test1](https://user-images.githubusercontent.com/35513125/35068906-1a5484fc-fb9e-11e7-953c-62320fef0ccc.png)

[2018-01-17 21:51] ExtendLord commented on #44
I will add a fallback for mp3 even with HIFI mode.

[2018-01-17 22:05] hee6933 opened #48 "Genre tag changes with language"
I cannot confirm it if it's changing with the system language but the same song downloaded with 3.0.1 had English word for the genre while the one downloaded with 3.0.2 didn't.

[2018-01-17 22:15] virtualviolet commented on #44
good man, that would help I guess. I'm now just downloading MP3 :-( The plan was to convert flac to AAC.

[2018-01-17 22:22] D0ragn opened #49 "Location is not available"
I put an album to download, in the program everything is working fine, when it finish I try to open the album folder then a windows message appears: the location is not available.
The album folder is impossible to delete, also it is 0 bytes in there

[2018-01-17 22:23] ExtendLord commented on #49
Link for the album/playlist/track?

[2018-01-17 22:25] D0ragn commented on #49
http://www.deezer.com/album/759189

[2018-01-17 22:26] D0ragn commented on #49
I downloaded as flac

[2018-01-17 22:56] ExtendLord commented on #49
Trailing dot problem, did you upgraded to 3.0.2?
Because it got fixed in 3.0.2.

[2018-01-17 22:56] D0ragn commented on #49
I'm unable to delethe the folder from the download directory even if i use system symbol

[2018-01-17 22:57] ExtendLord commented on #49
@D0ragn It is because the folder ends with dots.
Upgrade deezloader to 3.0.2 and delete that folder using cmd

[2018-01-17 23:02] D0ragn commented on #49
I upgrade to 3.0.2 I reboot my pc. I downloaded the same album, the program crashes and exit

[2018-01-17 23:14] D0ragn commented on #49
I'm still unable to delete the folder even if I use CMD, the location doesn't exist and the file is empty but folder is already there

[2018-01-17 23:15] GithubUser5462 opened #50 "Add option to skip log in or save log in details"
The log in requirement was added to circumvent the problems that some users were facing.
Unfortunately this change made the app more tedious to use.

It would be nice if there was an option to either store the login info or skip the login screen if you are not affected by the problems.

PS: The form in the app asks you for the username, but what you actually have to type in is the e-mail address.

[2018-01-17 23:16] ExtendLord commented on #50
I will fix and release 3.0.3 tomorrow.

[2018-01-17 23:18] GithubUser5462 commented on #50
Thank you!

[2018-01-17 23:23] D0ragn opened #51 "Crashes when I try to download"
I updated as you recomended for the folder with the [...] points endedn but now i'm unable to download any album, it keeps crashing, even I tried to download an album I downloaded whit the 3.0.1 version but keeping crashing

[2018-01-17 23:24] ExtendLord commented on #51
Run deezloader using cmd

[2018-01-17 23:25] NicolasPL64 commented on #50
OMG! YESSS!!

[2018-01-17 23:26] NicolasPL64 commented on #47
Cool idea! Agree!

[2018-01-17 23:27] virtualviolet commented on #49
Try using: https://www.wisecleaner.com/wise-force-deleter.html

[2018-01-17 23:28] NicolasPL64 opened #52 "Add "Play", "Pause", "Stop" button to play music in this app"
Can you add like a deezer music player?
That will be cool af! xD

[2018-01-17 23:29] D0ragn commented on #51
C:\Program Files\DeezLoader>
Server is running @ localhost:1730
Trace: TypeError: Cannot read property '0' of undefined
    at Deezer.<anonymous> (C:\Program Files\DeezLoader\resources\app\deezer-api.js:189:47)
    at Request.self.callback (C:\Program Files\DeezLoader\resources\app\node_modules\request\request.js:186:22)
    at emitTwo (events.js:106:13)
    at Request.emit (events.js:194:7)
    a

[2018-01-17 23:31] NicolasPL64 opened #53 "Add an updater or an update alert!"
You can add an alert when there is a new update? Or an auto updater :3
Sry 4 my english. I'm spanish xDDD

[2018-01-17 23:33] D0ragn commented on #49
@virtualviolet Thanks for the tool It Works

[2018-01-18 00:19] virtualviolet commented on #49
no problem

[2018-01-18 02:29] evolutionarysteps opened #54 "Mp3 fallback and Retry download mechanism."
1. I am not sure if this program has one, but a high-fi to mp3 320 fallback would be a great feature if not already implemented.
2, I notice downloads fail for random reasons (Same item downloaded incompletely one time, then 5 minutes later would download completely). Is there a way to implement a retry and verify that the download is complete and if it hasn't been properly, retry only those items

[2018-01-18 02:44] virtualviolet commented on #44
Does the API provide information about the file types available?

On 18 January 2018 at 01:51, Osher H <notifications@github.com> wrote:

[2018-01-18 05:53] Abdulaziz-IT opened #55 "Add auto-login & exit button on login page"
Hello, thank you for maintaining this, but can you make the login page have auto-login? so that I don't have to re-type my e-mail & password everytime.

Besides, I don't think it's a bad idea to add "exit" button anywhere in the GUI so that I can exit the program (In login page)

[2018-01-18 07:34] blackoutworm opened #56 "Please remove the login screen. It's confusing."
Hi. So the way you login to deezer is either via facebook or google.
These credentials do not work in this app.
So I had to create a new account signing up directly through deezer. But now I'm getting an error saying "can't connect to Deezer.com".
So please get rid of the login on your next version.
Thanks.

[2018-01-18 07:48] blackoutworm commented on #56
Okay so you haven't had the login screen there before? Because for me, that login screen randers the app unusable for me.
Do you think you can enable the google and facebook logins, or better yet login through the web browser?
And also, it says "username". But I think what you mean is Email Address. And how come it says "can't connect to Deezer.com"?

[2018-01-18 07:59] DafsCode commented on #56
I wouldn't know, but browser login does sound like a good idea

[2018-01-18 08:34] qulaz opened #57 "Ctrl+V don't worked on MacOs"

[2018-01-18 08:45] tac00 commented on #56
I used DeezLoader 3.0.1 yesterday and seems like Deezer haven’t patched anything. There is no login required for v. 3.0.1

[2018-01-18 09:23] syvhmx commented on #56
@tac00 the login window is made to fix USA same song and other bug fixes, though I still use 3.0.1 as it's still working.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-18 10:47] MatYRicS commented on #56
@syvhmx I don't understand what you mean? I don't have problems downloading songs from USA? Do you have an example of a song/playlist that dosen't work?

[2018-01-18 12:13] ExtendLord commented on #56
I will add skip login soon.

[2018-01-18 12:14] DafsCode commented on #56
I thought it needed a login?

On Jan 18 2018, at 12:13 pm, Osher H <notifications@github.com> wrote:

[2018-01-18 12:20] ExtendLord commented on #57
Not related to here....
Try Command+V.
Closed

[2018-01-18 12:20] #57 closed

[2018-01-18 12:25] MatYRicS commented on #56
@DafsCode no it dosen't need login. I use v. 3.0.1 rn and it still works.

[2018-01-18 12:39] ExtendLord commented on #56
@DafsCode @MatYRicS  Login gives you a faster download(By 1 second), tracks errors fixed, and support in US(If you are from there).

[2018-01-18 12:48] MatYRicS commented on #56
@ExtendLord thanks for the clarification

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-18 12:55] mastad0n opened #58 "Add donation address"
I see so many requests from people, would be nice if people gave you something in return.

I suggest adding your Monero address, since Bitcoin fees are insanely high right now.

[2018-01-18 12:56] ExtendLord commented on #58
@mastad0n There is a donation inside the software, I will add donation into the README.

[2018-01-18 12:57] mastad0n commented on #58
Sounds good, I didn't see it.

[2018-01-18 13:08] greenzwiz commented on #56
@blackoutworm Your email address should be saved on the deezer website under settings.
And it's true, it's not the username you enter in the app, it's your email address.
@ExtendLord Can you change the wording in the app, it can be confusing.

[2018-01-18 13:25] eloyaldea commented on #56
I created a Deezer account just for Deezloader and it's not letting me log in through Deezloader with my new account. Is there anyway to solve this? Or should I just use v3.0.1?

[2018-01-18 13:28] syvhmx commented on #56
There will be a 3.0.3 update by @ExtendLord to skip login, and other fixes (maybe?)

[2018-01-18 13:35] MatYRicS commented on #56
Yes he posted earlier that he push 3.0.3 later.

[2018-01-18 13:42] virtualviolet commented on #58
I think it is only fair ;-)

[2018-01-18 13:44] virtualviolet commented on #56
@eloyaldea  really? I did this yesterday and it worked perfectly. Are you able to login with your 'new' email and pass at deezer.com?

[2018-01-18 13:49] qulaz commented on #57
i mean Command+V, i use PC keyboard. All shortcuts like Command+A, Command+X, Command+C doesn't work on MacOS

[2018-01-18 13:52] eloyaldea commented on #56
Nope, not working, I just tried changing my password and username (in Deezer) and it still doesn't let me in (in Deezloader login). I'm using v3.0.1 until the login issue is solved.

[2018-01-18 15:06] nasedase opened #59 "App Crashing on Download"
Using both Arch Linux and Ubuntu 64 bit version 3.0.2. crashes immediately after clicking the download button.

[2018-01-18 15:59] DafsCode commented on #56
Ah, fair.

On 18 January 2018 at 13:52, eloyaldea <notifications@github.com> wrote:

--
Thanks,
Daf

[2018-01-18 15:59] BNFCTR opened #60 "libFLAC update"
Is it possible to update libFLAC to 1.3.1 version?

[2018-01-18 16:02] BNFCTR opened #61 "Deezer support FLAC-HD?"
I'm just asking that do you know if Deezer has FLAC-HD (2500-3500kb/sn - 96.0kHz - 24 bits) versions of songs and if so can we download them?

[2018-01-18 16:05] ExtendLord commented on #61
@BNFCTR Not as far as I know

[2018-01-18 16:07] ExtendLord commented on #59
@nasedase Fixed https://github.com/ExtendLord/DeezLoader-Reborn/commit/626bdfec97f9e34dae74147f3ac2a5199181548c
Please compile the project and try again.
The issue was your login details being incorrect(The software had problems detecting it.)

[2018-01-18 16:08] ExtendLord commented on #56
@DafsCode @syvhmx @virtualviolet @MatYRicS https://github.com/ExtendLord/DeezLoader-Reborn/commit/626bdfec97f9e34dae74147f3ac2a5199181548c
Added auto login, that should do the job and also fixed the crash issue when downloading anything(Login details were incorrect and the software did not detected the error for some reason)

[2018-01-18 16:09] ExtendLord commented on #51
@D0ragn Fixed https://github.com/ExtendLord/DeezLoader-Reborn/commit/626bdfec97f9e34dae74147f3ac2a5199181548c
Compile and try again.
Your account details were incorrect and the software did not detected it, now it should(Fixed it).

[2018-01-18 16:10] ExtendLord commented on #50
@virtualviolet @NicolasPL64 @GithubUser5462 Added https://github.com/ExtendLord/DeezLoader-Reborn/commit/626bdfec97f9e34dae74147f3ac2a5199181548c
I will release 3.0.3 soon.

[2018-01-18 16:12] D0ragn commented on #51
When I use my pasword to login it fails I tried 4 times then I logged into but then the app crashes, I think the login function is not full working

[2018-01-18 16:15] ExtendLord commented on #51
@D0ragn Can you run deezloader using cmd?
Did you cloned the repo and compiled and used that version?
Did you used email and not username?
What was the error that was shown?
Did you checked auto login?

[2018-01-18 16:29] syvhmx commented on #61
@BNFCTR Not all songs are available as Hi-Res FLAC (24-bit) in Deezer.
Some do have 24-bit ones, like:
`Joseph Vincent - Location`
Maybe the publisher/Deezer itself prefers 16-bit.

[2018-01-18 16:31] MatYRicS commented on #61
How do you check if a song is avabile in FLAC-HD??

[2018-01-18 16:33] jones1008 opened #62 "ARM architecture support?"
Compiling this software on a arm based architecture does not work:
[code]
Are you planning to make it compileable on a arm based computer too?

[2018-01-18 16:33] syvhmx commented on #61
You don't.
If it's available, then you're lucky.

[2018-01-18 16:37] JackyNiew opened #63 "Where are the Covers ???"
The information in "settings" does not save (The covers always remain at 1200x1200)
During a donwload I can not find any covers...

Best regards.

[2018-01-18 16:51] ExtendLord commented on #62
@jones1008 What is your OS?

[2018-01-18 16:53] jones1008 commented on #62
I am running debian jessie.

[2018-01-18 17:00] chrikop commented on #56
@ExtendLord With that fix, is it possible to use deezloader without an account? If you're not in the US

[2018-01-18 17:02] ExtendLord commented on #60
Not touching the version of the FLAC's that is being downloaded.

[2018-01-18 17:02] #60 closed

[2018-01-18 17:07] ExtendLord commented on #56
@chrikop I can make a login skip.
The US(And maybe more countries) problem is not the only reason for the login.
Another reason is that without an account, there will be issues when downloading some tracks.
Oh and with an account, downloads are faster(By one second).
Now you only need to enter an account once, next time it will do it automatically.

[2018-01-18 17:41] #61 closed

[2018-01-18 17:51] syvhmx commented on #63
The covers are embedded in the audio file.

[2018-01-18 17:55] #63 closed

[2018-01-18 17:56] ExtendLord commented on #52
Not at the moment but if you are a developer, you can add one and pull a request here.

[2018-01-18 17:56] #52 closed

[2018-01-18 17:57] ExtendLord commented on #56
@chrikop You don't have to give your real info, just make up an info lol.

[2018-01-18 17:58] FrozenAlex commented on #62
@jones1008 You could try running it as a web server with some source editing.

[2018-01-18 18:11] ExtendLord commented on #53
Added https://github.com/ExtendLord/DeezLoader-Reborn/commit/4ae71f9eb8692bd2886530630c60f87869bee869

[2018-01-18 18:11] #53 closed

[2018-01-18 18:13] DagiBeeast opened #64 "Downloads Failed"
Hi,

i am new to DeezLoader-Reborn and i think this: http://prntscr.com/i2avbf isnt normal?!? Or maybe its normal? And what can i do against it, download the failed songs manually?

greetings form Germany ;) (sorry for my bad english -.-)

Basti

[2018-01-18 18:15] ExtendLord commented on #64
Sent me the playlists please.

[2018-01-18 18:16] DagiBeeast commented on #64
http://www.deezer.com/de/playlist/4047371782

[2018-01-18 18:17] ExtendLord commented on #64
@DagiBeeast What about the playlist of the Hardrock/Metal

[2018-01-18 18:17] BarbzYHOOL commented on #59
Works perfectly fine for me on ubuntu (just wanted to say thx)

[2018-01-18 18:21] DagiBeeast commented on #64
At HardRock/Metal, its the same problem...

[2018-01-18 18:34] jones1008 commented on #62
I actually got the deleted deezloader-server npm repository (which I downloaded before it was deleted) working on my web server and thanks to [this little trick](https://www.reddit.com/r/Piracy/comments/7pocwe/rip_deezloader/dsl061k/) got the old deezloader working... I now just have to build myself a script that automatically updates the Cookie-SID...

So basically I don't need any support on thi

[2018-01-18 18:35] ExtendLord commented on #64
It returns Album not found error hmm.
I will change the way that the software gets the tracks from the playlist.
And no its not normal.

[2018-01-18 18:37] DagiBeeast commented on #64
Lol... Thank you very much!

[2018-01-18 20:04] cudrstk commented on #55
I'm with you with the auto-login. But why would you need an exit button?

[2018-01-18 21:08] Clementzz commented on #43
@ExtendLord Any other idea? Am I the only one to have this problem? I also tried on another PC and it works fine, that's so strange! The `Charts` tab's not loading too, and I really think this can be linked.

[2018-01-18 21:24] sNiPE18 opened #65 "Playlist track number error"
Hi, firstable i want thank you for these great work.
I got some issue when downloading playlists and also by some Album. The trackname numbers are several times the same. This phenomenon is occurred since the version 3.0!
For example: Album: https://prnt.sc/i2dur0 Playlist: https://prnt.sc/i2efkp
Thank you very much.

[2018-01-18 21:38] Aqluse opened #66 "Full date"
Any chances to get date into tags? Preferrable to put it into COMMENTS field

[2018-01-18 21:55] NicolasPL64 commented on #53
Give me a child pls :D xDDDDD OMG love you much lollol

[2018-01-18 21:56] NicolasPL64 commented on #52
Mm k thx

[2018-01-18 23:13] ExtendLord commented on #65
2 Problems

1. There are more than 1 discs and the track number does down to 1 each disc.
2. Playlists track numbers are the albums one.
I will fix it in 3.0.4

[2018-01-19 02:08] ThePlayingGoblin commented on #65
@ExtendLord, could you also make the numbering like this:
1. Martin Garrix - Animals
instead of:
1 - Martin Garrix - Animals
It just looks better :)

[2018-01-19 02:12] ThePlayingGoblin opened #67 "Something little :)"
@ExtendLord, could you make the numbering like this:

1. Martin Garrix - Animals
instead of:
1 - Martin Garrix - Animals
It just looks better :)

[2018-01-19 02:26] ExtendLord commented on #67
You can change that in the settings.

[2018-01-19 02:26] #67 closed

[2018-01-19 02:46] ThePlayingGoblin opened #68 "Proxy settings"
Would it be possible to add proxy setting to the client?

[2018-01-19 02:48] ExtendLord commented on #68
Why do you need proxy just for deezloader?

[2018-01-19 03:27] ThePlayingGoblin commented on #68
Make us anonymous, and changes our region. Can download albums we normally can't in the country we are in.

[2018-01-19 03:43] ExtendLord commented on #68
DeezLoader bypasses unavailable tracks(for certain countries, if it is unavailable in general then nope)
And you can just use a VPN or put your proxy on your system
Closed.

[2018-01-19 03:43] #68 closed

[2018-01-19 06:23] ReginaldCFlores opened #69 "Download from URL not recognizing URL."
I managed to download a playlist through the URL function. Went to go download a second one and it wouldn't read the URL. It won't read any URL.

[2018-01-19 06:26] #69 closed

[2018-01-19 09:53] KGB-USSR opened #70 "DeezLoader like a script"
Can you explain how to use the DeezLoader script in cmd?

[2018-01-19 10:51] SceneAddict opened #71 "Add option to save cover art in album folder as cover.jpg"
Would be great to have .jpg file in each album instead instead of just embadded within flac/mp3 files

[2018-01-19 11:54] BNFCTR commented on #33
I tried and it worked!

[2018-01-19 12:10] ExtendLord commented on #70
What do you mean?

[2018-01-19 13:08] KGB-USSR commented on #70
Like this script https://github.com/svbnet/RedSea

[2018-01-19 13:19] ExtendLord commented on #70
If you mean a cmd command for deezloader, there is no command for it.

[2018-01-19 13:20] sepulchre commented on #33
It is only 1 word to add to the code, so please add it.

[2018-01-19 13:22] KGB-USSR commented on #70
Ok. Thanks.

[2018-01-19 13:22] #70 closed

[2018-01-19 15:15] realleg29 opened #72 "Search for songs and albums"
Search for songs and albums doesn't work without a vpn,but search for playlists and artists works fine.Is there anyway we can get the search working for songs and albums without using a VPN?

[2018-01-19 15:19] ExtendLord commented on #72
Where are you from?

[2018-01-19 15:49] andrewxyxyxy opened #73 "Artwork size doesn't change"
Hi, when I change the artwork size (for example from 1200x1200 to 800x800), when I close DL and I open it again the size is still 1200x1200, even if I changed it before and saved settings.
Thank you

[2018-01-19 16:11] WilCz opened #74 "Fix tag track/track, disc/disc and add label"
The tag of the track: Example: track: 1/12, Disc: 1/1 and add label
![fixtag](https://user-images.githubusercontent.com/35513125/35159823-1801d574-fd01-11e7-93b6-625c8bbb61ec.png)

[2018-01-19 16:41] syvhmx commented on #66
Full date meaning 2017-09-21 format?
It's the same as year tag, except it has been cut to 4 digits only.

[2018-01-19 17:42] WebCoderX opened #75 "Adds extra/blank time in MP3 (compared Deezloader downloaded file with DeezLoader-Reborn downloaded file)"
Here are the comparisons:

Deezloader:
https://i.imgur.com/DaMebzE.jpg

Deezloader-Reborn:
https://i.imgur.com/BgzokoC.jpg

Notice the extra/blank   audio/time at the end of the spectrogram of DeezLoader-Reborn.
At first I though it was only SPEK showing a bigger graph, its not (its some kind of a bug, because why doesn't SPEK show a bigger graph in Deezloader's downloaded file. Also I compared 4

[2018-01-19 17:55] ExtendLord commented on #73
It does, it just shows wrong.
I will fix this bug soon.

[2018-01-19 18:20] Uchun commented on #75
@WebCoderX

How can you be sure it's not because of Spek just by trying something 5 times **in Spek only**, lol? Use your mind, check in another software first.

Also, try to remove all ID3 tags from both mp3s first (e.g. using [Mp3tag](https://www.mp3tag.de/en/)) and compare again - this is a common Spek issue with showing different length because of some different tags.

[2018-01-19 18:28] ExtendLord commented on #75
@Uchun is right.
As I just checked now the problem is spek.
Because of the tags, without the tags, the mp3's are identical.
So no issue here.

[2018-01-19 18:28] #75 closed

[2018-01-19 18:30] ExtendLord commented on #74
Is it mp3 or flac?

[2018-01-19 18:32] #51 closed

[2018-01-19 18:32] ExtendLord commented on #71
#31 Duplicate

[2018-01-19 18:32] #71 closed

[2018-01-19 18:33] #36 closed

[2018-01-19 18:35] #43 closed

[2018-01-19 18:36] ExtendLord commented on #48
Give me the album or track that you have downloaded

[2018-01-19 18:36] #49 closed

[2018-01-19 18:38] ExtendLord commented on #56
When I will fix the playlist error the login will be shown only for people that needs to login due to their region

[2018-01-19 18:38] #59 closed

[2018-01-19 18:39] #62 closed

[2018-01-19 18:39] syvhmx commented on #56
@ExtendLord that's better I think

[2018-01-19 18:39] ExtendLord commented on #65
#26 Duplicate

[2018-01-19 18:39] #65 closed

[2018-01-19 19:22] blackoutworm commented on #56
The login screen ain't really a problem.
The problem is that it doesn't allow me to login.
That's why I'm saying a browser login would solve this.
If the login screen makes the app work longer without having to patch it or whatever, then please keep the login.

[2018-01-19 19:46] McStecca opened #76 "Compile error on Windows"
[npm-debug.txt](https://github.com/ExtendLord/DeezLoader-Reborn/files/1647726/npm-debug.txt)
![screenshot_22](https://user-images.githubusercontent.com/21223192/35168588-c4e77dd6-fd59-11e7-91a3-8a3050765af5.png)
![screenshot_23](https://user-images.githubusercontent.com/21223192/35168589-c5229f6a-fd59-11e7-98b9-b1e84ff720d5.png)
I don't know what i have to do

[2018-01-19 20:07] WilCz commented on #74
In the format mp3 deezloader 3.0.3, in the version 3.0.2 work good no problems en tag: tracks: 1/11 and disc: 1/1

[2018-01-19 20:08] McStecca commented on #76
lol node.js was so old

[2018-01-19 20:08] #76 closed

[2018-01-19 20:20] virtualviolet opened #77 "v3.0.3 PC - Crash at login"
Hi this new version now crashes at login.

**With auto login enabled the console output is:**

Trace: SyntaxError: Unexpected end of JSON input
    at JSON.parse (<anonymous>)
    at Request._callback (C:\Program Files\DeezLoader\resources\app\deezer-api.js:312:29)
    at Request.self.callback (C:\Program Files\DeezLoader\resources\app\node_modules\request\request.js:186:22)
    at emitTwo (events

[2018-01-19 20:26] #50 closed

[2018-01-19 20:38] ExtendLord commented on #77
@virtualviolet Hi
Please clone the repository and replace deezer-api.js with this https://pastebin.com/tJuDgWzp .
Try again and send me the logs.

[2018-01-19 20:39] virtualviolet commented on #77
The Mac version also crashes :-/

Console:
Unable to initialize Deezer API
Trace: TypeError: Cannot read property 'data' of null
    at /Applications/DeezLoader.app/Contents/Resources/app/app.js:498:28
    at /Applications/DeezLoader.app/Contents/Resources/app/deezer-api.js:182:13
    at Request._callback (/Applications/DeezLoader.app/Contents/Resources/app/deezer-api.js:310:13)
    at self.callba

[2018-01-19 20:40] virtualviolet commented on #77
when you say clone, are you asking me to build or just replace a file in the deezloader303 app within the folder it is installed in?

[2018-01-19 20:42] virtualviolet commented on #77
what version of node are you using to build? I installed version 9.4

[2018-01-19 20:45] ExtendLord commented on #74
https://github.com/ExtendLord/DeezLoader-Reborn/commit/65f2b046b499f629f5d2c1cb865a6502e120aacd
Fixed the tags.

[2018-01-19 20:45] #74 closed

[2018-01-19 20:47] ExtendLord commented on #77
It could be an internet issue,
The software probably tries to connect to the internet before the login.

[2018-01-19 20:52] ExtendLord commented on #77
https://github.com/ExtendLord/DeezLoader-Reborn/commit/49c8b0ecb189f656bb6cdd2884db52abc9de27a1
Fixed, download the repo again and compile.

[2018-01-19 20:52] #77 closed

[2018-01-19 21:01] virtualviolet commented on #77
little snitch doesn't flag anything...

I'm compiling, you didn't answer my question though. What version of node are you using or recommend?

[2018-01-19 21:02] syvhmx commented on #74
Composer tag 'undefined' if unavailable, same as genre tag before.

[2018-01-19 21:02] ExtendLord commented on #77
I said before 9.4.0

[2018-01-19 21:08] virtualviolet commented on #77
Ok, managed to build ok and launches ok... nice work

[2018-01-19 21:13] NicolasPL64 opened #78 "Next step: Log out button"
You've added auto login button, but when I need to log out?? xDDDDDDD
i'll waiting your answer kek

[2018-01-19 21:15] ExtendLord commented on #78
You don't need to, just don't lol.
If you will change your accounts password, it will not pass the login page and you will be able to replace the account.
Another way is to delete the 'autologin' file from %appdata%/Deezloader

[2018-01-19 21:18] NicolasPL64 opened #79 "Settings improvement!"
There are "Track names" and "Playlist track names", but... where are "Album track names" and "Artist track names"? xD
Also, when I download all the artist songs it will create a folder of the name of the artist and the name of each album. xD i'm shit

Sooo, sorry 4 my english lol
PS: you will able to enable the creating of the folders that i said after

[2018-01-19 21:18] virtualviolet opened #80 "V3.0.3 - Crashes at launch"
This is not fixed, don't why you closed it before I had even responded...

It launched ok, but after I searched for an artist it popped up a message saying contact the developer.

**The console output was:**
Unable to initialize Deezer API

Now it refuses to launch properly, tries to auto login and then bombs out.

**Console output:**
Trace: TypeError: Cannot read property 'data' of null
    at /A

[2018-01-19 21:19] NicolasPL64 commented on #78
mmm ok... xdxd

[2018-01-19 21:20] NicolasPL64 commented on #80
how do you open the app with console? (cmd)

[2018-01-19 21:23] ExtendLord commented on #80
Then open the other issue, why did you created a new one?

[2018-01-19 21:23] #80 closed

[2018-01-19 21:26] virtualviolet commented on #77
It's not your app, I have just gone back to the older version 3.0.2 and it is unable to access the API

[2018-01-19 21:28] virtualviolet commented on #80
I can't, there is no option to re open and even replying doesn't re open.

[2018-01-19 21:29] virtualviolet commented on #80
@NicolasPL64 open a command prompt and then launch the app from the command line, it should dump info and errors to standard output.

[2018-01-19 21:33] NicolasPL64 opened #81 "Scroll to top... ¿bug?"
Scroll down and the click on scroll to top button. the text gets static. Look it, remember that i dont speak english well and i cant explain it xD

[2018-01-19 21:38] NicolasPL64 opened #82 "An idea :D"
Add an option so that when you click on the artist's text or the album you redirect it to its corresponding artist or album. If it is a song made by two or more people, depending on which name you will take it to your section and thus be able to download more music from it.
It's just an idea that I just had. It's like the Spotify style.

I used translator l0l

[2018-01-19 21:46] syvhmx commented on #79
@NicolasPL64  If you untick the 'Album folder' and 'Artist folder', the default folder name format will be like this:
`Camilla Cabello - Havana`
Also like your proposal, maybe @ExtendLord would?

[2018-01-19 21:49] ExtendLord commented on #81
I don't know what you are talking about, I can still copy the text after scrolling up with the button.

[2018-01-19 22:08] virtualviolet opened #83 "log file?"
Hi ExtendLord

I'm currently logging output through the console, does Deezloader have a proper log file?

[2018-01-19 22:09] NicolasPL64 commented on #81
The text that says "Scroll to top" in the arrow pointing up

[2018-01-19 22:13] NicolasPL64 commented on #81
Look. Down right in the corner
That text lol my english is shit, srusly
![image](https://user-images.githubusercontent.com/31411531/35174052-e9f95ffe-fd3b-11e7-9276-adf060792431.png)

[2018-01-19 22:18] virtualviolet commented on #77
@ExtendLord

Just so you know ;-)
Github has very simple rights/privileges (and even simpler management for them).

If you are not a collaborator of a repo, then (in regards to issues)

you can open issues
you can comment on all existing issues (open or closed)
you can close your own issues
you can re-open your own issues *if you closed them yourself
you cannot close or re-open issues opened by so

[2018-01-19 22:22] ExtendLord commented on #77
@virtualviolet Thanks for the info.
If you need me to open it, next time don't just open a new one, tell me to reopen or say that you are still facing issues.

[2018-01-19 22:31] virtualviolet opened #84 "Cannot read property 'disk_number' of null"
V303 has crashed a few times with the following error:

Unable to initialize Deezer API
Trace: TypeError: Cannot read property 'disk_number' of null
    at /Users/kevin/Desktop/DeezLoader303.app/Contents/Resources/app/app.js:677:70
    at /Users/kevin/Desktop/DeezLoader303.app/Contents/Resources/app/deezer-api.js:92:13
    at Request._callback (/Users/kevin/Desktop/DeezLoader303.app/Contents/Resou

[2018-01-19 22:40] virtualviolet commented on #77
ok no probs, I really appreciate what your doing btw. sometimes it doesn't
across the right way using text...

On 20 January 2018 at 02:22, Osher H <notifications@github.com> wrote:

[2018-01-19 23:54] andrewxyxyxy commented on #73
Ok thank you 👍 :)

[2018-01-20 00:09] ashven288 opened #85 "Pasting (CMD + V) doesn't work in the search bar in Macos."
Selecting all (CMD +A) and also copying (CMD + C) also doesn't work from the search bar. I'm on version 3.0.3.

[2018-01-20 00:15] ExtendLord commented on #85
Not sure why you cant copy paste on the search bar.
I have no issues doing that.

[2018-01-20 00:21] ashven288 commented on #85
I can only right click then copy/cut/paste things. On Mac 10.13.2.

[2018-01-20 00:23] ExtendLord commented on #85
Then its not related here, you have issues with mac, not deezloader

[2018-01-20 00:23] #85 closed

[2018-01-20 01:43] didiou opened #86 "first 9 tracks number ## instead of #"
[french user]
First great job !
Hello, is it possible to rename the 9 first numbers 1->9 to 01, 02,... 09 please ?
Thanks !

[2018-01-20 03:08] jackpot08 opened #87 "Possible to stream?"
Is there a way to make it so you can stream and buffer songs and have media control (manually select and scroll through song)

[2018-01-20 03:15] anepwanpis opened #88 "crash after download"
after hit the download button it crash after a few moments

[2018-01-20 04:48] CoolPac2018 opened #89 "Speed Issues"
Could it be possible that downloads could be faster or that multiple downloads at once could occur? Thanks I appreciate the program

[2018-01-20 09:38] WebCoderX commented on #75
@ExtendLord
"Because of the tags, without the tags, the mp3's are identical"

Sorry did not understand?

[2018-01-20 10:53] ExtendLord commented on #75
The mp3 from deezloader reborn has no space there, it thinks like that because of the tags.
The duration tag is 205 sec which is 3:25.
Bugs with spek

[2018-01-20 10:54] ExtendLord commented on #86
No

[2018-01-20 10:54] #86 closed

[2018-01-20 10:55] ExtendLord commented on #88
Run deezloader using cmd or terminal and after it crashes, post here the logs

[2018-01-20 11:05] ExtendLord commented on #84
What is the name of the track/album/playlist that you have tried to download?

[2018-01-20 11:15] #78 closed

[2018-01-20 11:16] ExtendLord commented on #83
Not really, unless it crashes.

[2018-01-20 11:17] ExtendLord commented on #89
No, and no multiple downloads at once at the moment.

[2018-01-20 11:17] #89 closed

[2018-01-20 11:19] ExtendLord commented on #87
What do you mean?
You want deezloader to play musics?

[2018-01-20 11:37] virtualviolet commented on #84
Hybrid - Wider Angle (Special Edition)

It's fine now, downloaded ok. But Deezer have limited the traffic to my IP
address. from 3MB/sec down to 14KB/sec. Done a lot of testing this
afternoon and confirmed this to be correct, but I have a work around for
now....

On 20 January 2018 at 15:05, Osher H <notifications@github.com> wrote:

[2018-01-20 11:45] Aqluse commented on #66
@syvhmx Yes, I meant that format

[2018-01-20 11:56] #84 closed

[2018-01-20 12:26] AiFulDev commented on #88
I have the same issue with the latest version. Here is a screen of the logs in cmd:
![deezloader303rebornlogs](https://user-images.githubusercontent.com/32014004/35183377-483da18e-fde5-11e7-9c81-79fb7e8c11e6.PNG)

[2018-01-20 12:38] Uchun commented on #75
@WebCoderX
Hi there, my account was erroneously auto-flagged by github spam-bot and hidden from public, so you couldn't see my message and got inconsistent discussion. Now you can see my answer above.

[2018-01-20 12:48] CoolPac2018 commented on #89
Thanks for the reply

[2018-01-20 12:49] WebCoderX commented on #75
@ExtendLord
@Uchun
I feel so dumb lol!
I never thought about checking the tags 😞
Sorry for disturbing you so much @ExtendLord

[2018-01-20 13:32] Uchun commented on #81
@NicolasPL64
Do you mean like this?
![snapshot](https://user-images.githubusercontent.com/35609161/35183931-e0465a70-fde5-11e7-9d98-2985aace61b6.png)

In that case, it should disappear when you move your mouse cursor away from scroll-to-top button. And when you move cursor over button again - text should be near button again.

[2018-01-20 13:46] Uchun commented on #69
@ReginaldCFlores
Try again with the same playlist on another PC and latest version of DeezLoader-Reborn.
Provide more info: playlists urls, OS & DeezLoader-Reborn version, start DeezLoader-Reborn from command line and provide logs from it when trying to download again and it doesn't go.

[2018-01-20 13:54] Uchun commented on #74
@syvhmx

Open new issue please, provide example track/URL.

[2018-01-20 13:57] hee6933 commented on #48
For example, Getter - Forget It, when downloaded with 3.0.1 has genre tag "Dance", but has "Dans" when downloaded with 3.0.2. I tried to create another account from US, but Deezer still manages to find where I am when I use VPN's, another browser and a private tab.

[2018-01-20 14:04] ExtendLord commented on #48
I have downloaded this and the genre is Dance :/
Dont use a VPN.
The genre should be the same

[2018-01-20 14:05] Uchun commented on #55
@Abdulaziz-IT you can exit the app by closing its window, what's the problem with that? :smile:

[2018-01-20 14:23] hee6933 commented on #48
Is Dance in your language?
I have downloaded all the songs without vpn. But because you said don't use it, I downloaded again with a VPN from US, and It now says Dance again.

[2018-01-20 14:28] Uchun commented on #33
It would be better & proper way is to use a paging system to request next/previous/custom page via API, instead of abusing API & UI with a huge entries number like 1000.

Just by using `index` parameter and parsing `"total"`, `"next"` and `"prev"` fields in JSON response, e.g.:
https://api.deezer.com/playlist/547789765/tracks
https://api.deezer.com/playlist/547789765/tracks?index=925

Also it's po

[2018-01-20 14:34] ExtendLord commented on #48
Maybe it depends on the country you are on.
Not because of the software, but because of Deezer.
I'm not from a country that speaks English natively and the genre I got is Dance

[2018-01-20 15:19] jackpot08 commented on #87
Yes, if we could listen to the song before downloading

[2018-01-20 15:31] ExtendLord commented on #87
Sorry but no, unless somebody will pull request

[2018-01-20 15:31] #87 closed

[2018-01-20 16:20] IvanTurgenev commented on #88
Same here
![screenshot from 2018-01-20 11-19-10](https://user-images.githubusercontent.com/3318444/35185513-cd2a463e-fdd3-11e7-866c-aaa96bdc21cb.png)

[2018-01-20 16:41] DagiBeeast commented on #64
Have you fixed it yet? Or is it a major problem that you can´t "influence"?

[2018-01-20 17:11] geekeyz opened #90 "Crash when downloading and no Internet"
Deezloader v3.0.3 has crashed several times while downloading because my Internet connexion was gone.

[2018-01-20 17:15] geekeyz opened #91 ""Downloads" list cleared after exit/crash"
When a list is being downloaded : if I exit the software or if it crashes, the list is deleted and the downloads don't resume...

[2018-01-20 17:19] geekeyz opened #92 "Resuming a download"
If I download again a whole artist for example (to "update" his/her discography), it would be great that it "checks" if some albums/songs have already been downloaded (in the default download folder). Then the software only downloads the new ones...

[2018-01-20 17:52] eraser-head opened #93 "Url with spaces"
Thanks por the app, it's awesome. I wach that when the url from you are downloading the app does nothing, for example this

http://www.deezer.com/search/Shudder%20to%20Think/album

if you copy the url from browser and them paste it, it add a %20, but the app doesn't start a donwload, with spaces, without them, or with %20

thanks!

[2018-01-20 19:48] Cilusse opened #94 "No artwork on FLAC downloads"
Hello!

Thank you very much for maintaining this project again, feels good to have a new version.

Being able to download songs in FLAC is awesome, however there is no artwork for them.
Is it a restriction of the FLAC format and the ID3 tags that it can support, or just a bug ?

If this is a real restriction, I would suggest that the artwork gets saved as .png next to the downloaded file.

Thank y

[2018-01-20 19:48] ExtendLord commented on #93
You can't use that link to download.
You need a https://www.deezer.com/(playlist/album/track)/{id}
No spaces even needed.

[2018-01-20 19:48] #93 closed

[2018-01-20 19:50] ExtendLord commented on #91
It should be like that.

[2018-01-20 19:58] ExtendLord commented on #66
https://github.com/ExtendLord/DeezLoader-Reborn/commit/0d03eb091912d9f637d6edc4f7a249586f8c617b
Now there is both date and year for MP3 and FLAC.

[2018-01-20 19:58] #66 closed

[2018-01-20 20:26] 12au7 opened #95 "File type parameter"
Mainly for when custom folder names get implemented, adding the %filetype% parameter would allow us to name folders based on the file type, either FLAC or MP3, however that may be difficult seeing as the folder is probably created before it can check if the file is MP3 or FLAC

[2018-01-20 20:29] 12au7 commented on #95
Didn't realize a similar folder name issue was already open, changing issue to file type parameter

[2018-01-20 20:52] DJKenzoDE opened #96 "Login Failed Multiply Times"
Hey Guys,

i have a Problem to Login in Deezloader
It say my data is incorrect but i can login with the data on my phone and on the homepage from deezer.

Have anyone maybe a Version without the login?

Infos (For mor Infos write it down pls)
Country: Germany - Berlin
OS: Windows 7 x64 With Latest Update
Date Download: 20.01.2018 (dd.mm.yyyy)
Date Problem: 20.01.2018 (dd.mm.yyyy)
Version: 3.0.3

I

[2018-01-20 20:55] ExtendLord commented on #7
https://github.com/ExtendLord/DeezLoader-Reborn/commit/514191f73fd73a33841109a91c4a1684d4993a59
Sorry for that huge delay, fixed the problem, if you still have the issue, don't hesitate to comment here or open a new issue if its a different issue.

[2018-01-20 20:55] #7 closed

[2018-01-20 20:56] ExtendLord commented on #94
https://github.com/ExtendLord/DeezLoader-Reborn/commit/514191f73fd73a33841109a91c4a1684d4993a59
Albums artwork is now inside the album.

[2018-01-20 20:58] ExtendLord commented on #92
It does checks if the song was downloaded already(Although it adds it to 'downloaded')

[2018-01-20 21:15] #94 closed

[2018-01-20 21:26] ExtendLord commented on #96
Did you entered an email or a username?

[2018-01-20 22:38] Uukrull commented on #86
@didiou: You can do that if you change this [line](https://github.com/ExtendLord/DeezLoader-Reborn/blob/514191f73fd73a33841109a91c4a1684d4993a59/app/app.js#L1214) to:

`    return i > 0 ? pad(str.slice(0, i), 2) : str;`

[2018-01-20 22:45] ExtendLord commented on #86
I can but its not a practical thing to do in tags.
I rather leave it as it is.

[2018-01-20 22:54] ExtendLord commented on #95
I don't think I will add a filetype parameter.
It is not necessary.

[2018-01-20 22:54] #95 closed

[2018-01-20 22:56] #91 closed

[2018-01-20 22:57] #81 closed

[2018-01-20 23:16] Uchun commented on #86
My guess is the author would want this not in tags, but in filenames. At least when there are more than 9 tracks (so files too).
At least I would want it :smile:

[2018-01-20 23:31] Uukrull commented on #86
That's what my fix does (I can't stand single digit track numbers in filenames :) )

[2018-01-21 00:32] geekeyz commented on #91
I don't get it... I think it's not easy to remember all the artists/songs that were in the queue if the software crashes or if I have to exit for some reason... I think this feature could be great, but in this case the "clear list" button should also cancel every file in the queue (it only removes downloaded files at the moment).

[2018-01-21 01:29] mewe123 opened #97 "Can you add year/release date to folder generated for albums?"

[2018-01-21 05:32] ExtendLord commented on #31
https://github.com/ExtendLord/DeezLoader-Reborn/commit/514191f73fd73a33841109a91c4a1684d4993a59
Changed location of artworks to the albums folder.
It did not actually reverted it, its a bug.

[2018-01-21 05:32] #31 closed

[2018-01-21 10:08] ItsPops opened #98 "Auto login doesn't work"
Hello !
Just downloaded the 3.0.3 version and auto login doesn't work.
It keeps saying "Logging in" and nothing else can be done except by deleting %USERPROFILE%\AppData\Roaming\Deezloader\autologin and by connecting manually next time to Deezloader.

Anyway that's not a huge issue and thanks a lot for giving a second life to this great piece of software.

[2018-01-21 11:21] didiou commented on #86
Yes, it's what i want (in the first 9 filenames) !
Thanks.

[2018-01-21 15:39] syvhmx commented on #97
I've pointed this during 3.0.1. Just wait.

[2018-01-21 16:24] JackyNiew commented on #88
Hi!
I confirm, identical problem....

[2018-01-21 19:35] ari1010 commented on #33
The 25 limit is really a problem if you're trying to download an entire artist's albums. It's a real pain in the neck getting the urls for each individual album.

[2018-01-22 12:09] gmata11 commented on #56
@ExtendLord Could you add a fix with the cover on the songs on your next release? Thanks!

[2018-01-22 12:13] gmata11 opened #99 "Cover Fix"
Hi @ExtendLord ,
Could you add the cover on the mp3 file on your next release?
thanks!

[2018-01-22 12:59] GoelBiju commented on #99
@gmata11, the cover file should be written to the mp3 file with the metadata automatically. I can see the cover when playing mp3 files on the computer. However when playing on other files it is not displayed, where do you not see it?

[2018-01-22 14:18] Eduardo37754 opened #100 "Fix Rename Tracks Numbers in Playlists"
for example when under a playlist with 50 singles instead of putting track number 01,02,03,04 and leaving them in the same order.
 To all the singles he puts the track number 1
Can you fix? Thanks a lot !!!! Im from Argentina

[2018-01-22 14:32] ExtendLord commented on #99
There is a cover on mp3 files :|
![image](https://user-images.githubusercontent.com/26222159/35225668-9c35c200-ff91-11e7-8ed7-308294e148e1.png)

[2018-01-22 14:33] ExtendLord commented on #100
Send me the link of the playlist/s

[2018-01-22 14:35] ExtendLord commented on #98
Do you still have those issues?
Did you waited enough time?

[2018-01-22 14:36] ExtendLord commented on #97
Did you meant the name of the folders?
If so, its a duplicate #8

[2018-01-22 14:37] ExtendLord commented on #96
Closed due to not answering for 2 days.
Answer the question if you want it to be opened.

[2018-01-22 14:37] #96 closed

[2018-01-22 14:37] #92 closed

[2018-01-22 14:39] #83 closed

[2018-01-22 14:41] Eduardo37754 commented on #100
for example this one

http://www.deezer.com/es/playlist/392726465

www.scandalbeat.com - Te Recomendamos Los Proximos Exitos
Atención online Facebook: Scandal Beat Radioservicios
<https://www.facebook.com/Scandal-Beat-Radioservicios-219287971837727>

2018-01-22 11:33 GMT-03:00 Osher H <notifications@github.com>:

[2018-01-22 14:41] ExtendLord commented on #79
Playlist track names is also for album and artist.
I will change the name of it.

[2018-01-22 14:42] Eduardo37754 commented on #100
for example this one

http://www.deezer.com/es/playlist/392726465

Thanks !!!!

2018-01-22 11:33 GMT-03:00 Osher H <notifications@github.com>:

[2018-01-22 14:43] ExtendLord commented on #100
@Eduardo37754 The reason is that it takes the numbers of the tracks albums and not the playlists one.
I will fix that.

[2018-01-22 14:44] #99 closed

[2018-01-22 14:44] Eduardo37754 commented on #100
Thanks a lot !!!!

www.scandalbeat.com - Te Recomendamos Los Proximos Exitos
Atención online Facebook: Scandal Beat Radioservicios
<https://www.facebook.com/Scandal-Beat-Radioservicios-219287971837727>

2018-01-22 11:43 GMT-03:00 Osher H <notifications@github.com>:

[2018-01-22 14:45] Eduardo37754 commented on #100
Thanks a lot !!!!

2018-01-22 11:43 GMT-03:00 Osher H <notifications@github.com>:

[2018-01-22 14:57] ItsPops commented on #98
Hello !
It’s surprisingly working on the Mac version but not on the Windows version.
It’s instant logging in on Mac but it never works on Windows.
Also I noticed that the saving folder and the HiFi settings are not saving properly.
I may try on another Windows machine if you want.

[2018-01-22 16:39] ExtendLord commented on #26
a33ce6ec9fb07f0ed4cef560a7a6df4dfa4993b5 a8591b92dddd85c70ce02907050275a3851ea21e Fixed
Sorry for the huge delay.

[2018-01-22 16:39] #26 closed

[2018-01-22 16:50] ExtendLord commented on #88
@JackyNiew @IvanTurgenev @AiFulDev @anepwanpis Can you please download the zip file of the repository and compile it and try again?
It should be fixed.
And of course repeat the process(Don't forget to delete the folders).

[2018-01-22 16:52] ExtendLord commented on #98
What do you mean?
Can you try to delete DeezLoader folder from musics folder, from %appdata% and try again in windows?

[2018-01-22 16:56] JackyNiew commented on #88
Hi!
I am under windows 10, I do not know how to compile the contents of the zip file ...
Thank you for giving me the procedure to follow ...

[2018-01-22 17:05] #48 closed

[2018-01-22 17:36] JackyNiew commented on #88
Thanks !!!

[2018-01-22 17:54] geosabev opened #101 "Can't download anything... Downloads fail"
I just don't know what happens... Every song or album I select either starts downloading and fails or it just fails at the beginning...

Any ideas what the reason might be?

[2018-01-22 18:21] geosabev commented on #101
http://www.deezer.com/us/album/15458744
http://www.deezer.com/us/album/12395872

not only these.. i've been chosing different songs/albums just for test.. but nothing works

[2018-01-22 18:31] ItsPops commented on #98
I mean that if I set in settings the downlod folder and the « enable HiFi » option on and then I close the app, settings will bel ost when I reopen it.
I tried to delete the Deezloader folder in %appdata% but this issue is still present.

Also the logging in that never passes on issue is still present.

De : Osher H [mailto:notifications@github.com]
Envoyé : lundi 22 janvier 2018 17:52
À : ExtendL

[2018-01-22 18:42] ExtendLord commented on #101
@geosabev What is your version?

[2018-01-22 18:44] geosabev commented on #101
3.0.3... the Windows x64 version...

[2018-01-22 18:56] baptiste0928 opened #102 "Login error"
Hello,
I am a French Youtuber and I made a video on Deezloader.
I have no problem with the software but I have many comments from people who can not log in to their Deezer account. I think this problem comes from the 32 bit Windows version.
Do you have a solution for this problem?

Regards,
Baptiste0928

PS: The link of my video: https://youtu.be/33lpg7Ou4gg

[2018-01-22 20:41] geosabev commented on #101
@ExtendLord I fixed it! I changed the download folder from C:\.... to D:\... and it worked out!

[2018-01-22 20:41] #101 closed

[2018-01-22 21:36] AiFulDev commented on #88
It works @ExtendLord ! Thanks !!!
![capture](https://user-images.githubusercontent.com/32014004/35245772-a4f09c70-ffc4-11e7-9624-88677595aed3.PNG)

[2018-01-22 22:20] Cris70 commented on #102
Same problem here, and I'm using the 64bit version 3.03

[2018-01-22 22:27] NicolasPL64 commented on #102
I had the same problom and I had to put my email :/
Sry my english

[2018-01-22 22:27] NicolasPL64 commented on #102
It doesn't work with your username I think lelel

[2018-01-22 22:28] Cris70 commented on #56
I cannot login, too. DeezLoader tells me my email or password is wrong, but it isn't.

[2018-01-22 22:30] Cris70 commented on #102
Always used my email here (as v3.0.3 corrected the wording on the login screen) but cannot login nonetheless.

[2018-01-22 22:31] NicolasPL64 commented on #102
Hmm... change your pass? idk lol wait for the owner's answer

[2018-01-22 22:31] NicolasPL64 commented on #102
I had to change my pass like 3 times but then i put my email and it worked l0l

[2018-01-22 22:33] Cris70 commented on #102
Nah, why should I? My password works correctly on Deezer, so it should work on DeezLoader too.
I'll wait for @ExtendLord reply, but thank you anyway!

[2018-01-22 22:34] NicolasPL64 commented on #102
Okay! :D

[2018-01-22 22:36] gmata11 commented on #99
@ExtendLord not works for me. I use Manjaro. Version 3.0.3.
![image](https://user-images.githubusercontent.com/25740908/35248070-0324db46-ffcd-11e7-8dc5-df5b7d7a492c.png)

[2018-01-22 22:37] JackyNiew commented on #88
Crash during the second download.
[Capture.txt](https://github.com/ExtendLord/DeezLoader-Reborn/files/1653818/Capture.txt)

[2018-01-22 23:07] auanasgheps opened #103 "[Feature Request] Save songs artworks as JPEG baseline"
Hello
First of all a big **thank you** for keeping this project alive.

By defaults artworks that come from Deezer are saved in JPEG Progressive. This technology is great on the web, but comes with a price: almost no portable device (MP3/MP4 player) can show JPEG Progressive pictures. Potentially other programs/apps could have issues in opening JPEG Progressive artworks.
JPEG Baseline instead is t

[2018-01-22 23:38] NicolasPL64 opened #104 "Spanish Translate"
Hello! I can help you with the spanish translation!

[2018-01-23 00:26] auanasgheps commented on #104
I would translate in Italian.

However I don't think this application is multi-language ready.

[2018-01-23 03:08] ExtendLord commented on #103
I don't know what you are talking about.
Why would any program have issues with opening JPEG 😐?
The JPEG's are not different than the ones in Deezer app and every phone will show the covers.

[2018-01-23 03:08] ExtendLord commented on #104
Not only that, There is not much to translate.
But I will still think about it.

[2018-01-23 03:18] ExtendLord commented on #102
@Cris70 Can you please compile the project by these following steps and try again running with cmd?

1. Download Node JS 9.4.0
2. Download the zip file of the project in the link https://codeload.github.com/ExtendLord/DeezLoader-Reborn/zip/master
3. Extract the zip anywhere you want
4. Go to /app folder, edit deezer-api.js and replace the code inside with https://pastebin.com/raw/V5tsNvZD (Open th

[2018-01-23 04:34] ExtendLord commented on #64
@DagiBeeast Fixed it just now.
Did you really though that it would never be fixed?
https://github.com/ExtendLord/DeezLoader-Reborn/commit/f6354365ac0928bfa3c70ca56f32ffa4f0538371

[2018-01-23 04:34] #64 closed

[2018-01-23 04:54] ExtendLord commented on #90
Now it should fail when you download and have no internet
https://github.com/ExtendLord/DeezLoader-Reborn/commit/789042521a60e87f80a905bd26914931431ea1de

[2018-01-23 04:56] ExtendLord commented on #88
@JackyNiew Redownload the zip, delete the project and extract again.
https://github.com/ExtendLord/DeezLoader-Reborn/commit/789042521a60e87f80a905bd26914931431ea1de
It should fail now instead.

[2018-01-23 08:13] Cris70 commented on #102
@ExtendLord will do it in the afternoon and I'll let you know.
Thank you!

[2018-01-23 08:31] gmata11 commented on #99
Please can you tell me if I have something wrong or if just happens on linux version. Thanks!

[2018-01-23 10:50] BNFCTR commented on #73
@ExtendLord When will you add 1500x1500 artwork feature?

[2018-01-23 10:55] ExtendLord commented on #73
@BNFCTR I'm not entirely sure that 1500x1500 is the actual maximum and not 1200p.

[2018-01-23 11:13] auanasgheps commented on #99
Hi @gmata11 please this
- Get yourself a MP3 tag editor application. I would recommend https://picard.musicbrainz.org/
- Import an MP3 downloaded from Deezloader. You should see a cover art. Extract the cover art as JPEG picture. In Musicbrainz you can double click the picture, it will be opened with your default picture viewer, save it.
- Save the picture as JPEG baseline. Use this website https:

[2018-01-23 11:18] didiou commented on #104
i can translate in french too if available 👍

[2018-01-23 11:31] auanasgheps commented on #103
[Here](https://kb.tourwriter.com/baseline-jpeg-vs-progressive-jpeg) is explained what is the difference between JPEG baseline and progressive.
In my case my Sony portable player only reads JPEG baseline, like many other handheld devices. Android/iOS are probably are okay because are complex OSes.

However I just realised that this integration might not be easy: first we'll need to extract the artw

[2018-01-23 11:43] ExtendLord commented on #103
I will just leave the image as it is without post processing

[2018-01-23 11:43] #103 closed

[2018-01-23 14:28] JackyNiew commented on #88
It's OK! Thank you !...

[2018-01-23 15:22] didiou opened #106 "Possible merge folders and countinuous filename numbers ?"
[french user]
Hello, now since today, if there is more than 1 disc, there is several folders withs filenames 1->n for each disc
for exemple disc 1 : 1 to 10 tracks and disc 2 : 1 to 8 => folder 1 (1 to10) and folder 2 (1 to 8)
===
I would like to have only one folder with 1 -> n tracks !!!
In my example 18 tracks and filnenames like this :
01-author-song1.mp3[flac]
02-author-song2.mp3[flac]
...
..

[2018-01-23 18:55] andrewxyxyxy opened #107 "New version notify"
The notify of a new version is very good, but it could be really great with a link to the download page :)

[2018-01-23 19:24] BNFCTR commented on #73
@ExtendLord 1400x1400 would be great too. I've been waiting for 1500x1500 or 1400x1400 album cover update to download my whole playlist. By the way thank you for all of your hardwork.

[2018-01-23 19:53] ExtendLord commented on #58
Added https://github.com/ExtendLord/DeezLoader-Reborn/commit/c1bfff9fc610d58d9109eaa4575e42c4ee152792

[2018-01-23 19:53] #58 closed

[2018-01-23 19:53] #88 closed

[2018-01-23 19:54] ExtendLord commented on #90
Try 3.0.4

[2018-01-23 20:10] auanasgheps commented on #107
Yes, the new version notification is great... But where is _auto update_, mentioned in 3.0.3 changelog? Am I missing something?

[2018-01-23 20:18] ExtendLord commented on #107
@auanasgheps Well the "auto update" is that nofitier.
Although its not actually updating, just notifying that there is an update.

[2018-01-23 21:31] NicolasPL64 commented on #104
WOW kewl!

[2018-01-23 21:33] NicolasPL64 commented on #107
There's no any way to update it automatically? Or is so hard/impossible to do?

[2018-01-23 22:12] Cris70 commented on #102
This is what I got:
[code]
It would seem a success message, isn't it? But the GUI says "incorrect email or password".
I hope you'll get something out of it.
If you need more tests don't hesitate to ask.

[2018-01-23 22:18] ExtendLord commented on #102
@Cris70 @NicolasPL64 @baptiste0928  Oh that is because you have a family account.
https://github.com/ExtendLord/DeezLoader-Reborn/commit/2395a487e1307032d5c333d8d8ce783e3fa320a2
Fixed.

[2018-01-23 22:18] #102 closed

[2018-01-23 22:32] Cris70 commented on #102
Yay! Perfectly working now!!
Thank you!!

[2018-01-23 22:38] #98 closed

[2018-01-23 23:03] #55 closed

[2018-01-24 00:39] Traflorkian opened #108 "Download Crash ver. 3.0.4"
I am experiencing a crash whenever I start a download in version 3.0.4. I have tried running as an admin but that did not help. Is this a known issue?

[2018-01-24 03:50] dylanbroome commented on #94
Could you also maybe add an option to not download the png file of the artwork, or have the option to relocate it?

[2018-01-24 03:57] dylanbroome opened #109 "Option to not download/relocate png file of artwork"
Hi, I was just wondering, could you make an option to not download or change the directory of the png file containing the album artwork that is downloaded to the album/artist folder.

I just prefer not to have it in my library folders for organization reasons :)

Thanks!

[2018-01-24 04:48] irule2day commented on #107
All you need to do is click uninstall and install the new version. You literally do 2 steps. All your settings are saved separately. Is that so hard to do?

[2018-01-24 13:18] geekeyz commented on #90
I tried it, thanks for the fix, it doesn't crash anymore when the internet connexion is down. But when my internet connexion is back again, the downloads don't resume automatically... Is it possible to do so ? Thanks again !

[2018-01-24 14:52] andrewxyxyxy commented on #107
Ehi guys I was not talking about the installer program (that is really simple), I was only talking about adding a link to a download page that can be a little more difficult to find to someone that is not practice with the program. That's it :)

[2018-01-24 15:36] 13mister37 commented on #102
Sorry, doesn't work for me in 3.0.4. Have also an family subscription.

[2018-01-24 15:38] 13mister37 opened #110 "Logout button"
Can't find any option to logout when Auto Login is enabled.

[2018-01-24 15:38] ExtendLord commented on #102
@13mister37 I did not updated to 3.0.5 yet.
Meanwhile create a new account or compile the project by yourself and run it.

[2018-01-24 15:40] 13mister37 commented on #102
Ah, I understand. With 3.0.5 it will work? I'm so happy.
Thank you for the good work and keep the work on!

[2018-01-24 15:44] ExtendLord commented on #110
Nor you should.
Just stick with your account there.

[2018-01-24 15:44] #110 closed

[2018-01-24 16:54] pepeillo001 commented on #108
I have the same problem. Also I can't download an entire album, usually when you have downloades 6 tracks the program hangs...

[2018-01-24 17:17] ExtendLord commented on #108
@pepeillo001 Please can you both run deezloader with cmd/terminal and post the logs?

[2018-01-24 19:47] pepeillo001 commented on #108
Ok, but how can I do it?. I don’t know how can I run deezloader with “cmd/terminal”.

De: Osher H [mailto:notifications@github.com]
Enviado el: miércoles, 24 de enero de 2018 18:18
Para: ExtendLord/DeezLoader-Reborn <DeezLoader-Reborn@noreply.github.com>
CC: pepeillo001 <pepeillo001@gmail.com>; Mention <mention@noreply.github.com>
Asunto: Re: [ExtendLord/DeezLoader-Reborn] Download Crash ver. 3.0.

[2018-01-24 19:51] LavrovE commented on #108
yep, still crash...

[2018-01-24 20:01] ExtendLord commented on #108
@pepeillo001
1. Run cmd
2. Navigate to DeezLoaders folder with the cmd by using 'cd (path)' command
3. type 'deezloader' and it will run deezloader.
4. When deezloader crashes go to the cmd and copy the part of the error and post it here.

[2018-01-24 20:14] pepeillo001 commented on #108
C:\Program Files\DeezLoader>
Server is running @ localhost:1730
Downloading file to C:\Users\Pachu\Music\Deezloader\Greg Maroney - Winter\1 - Greg Maroney - Winter Grey.flac
Downloaded: Greg Maroney - Winter Grey
Downloading file to C:\Users\Pachu\Music\Deezloader\Greg Maroney - Winter\2 - Greg Maroney - Grandmother's Quilt.flac
Downloaded: Greg Maroney - Grandmother's Quilt
Downloading file to C:

[2018-01-24 20:17] pepeillo001 commented on #108
https://i.imgur.com/EAhJbeZ.jpg

[2018-01-24 20:20] pepeillo001 commented on #108
There is no error, simply it stays frozen....

[2018-01-24 20:23] ItsKonix opened #111 "Create Telegram Group"
How about creating a Telegram group to stay in contact when the repo gets shut down?

[2018-01-24 21:23] pepeillo001 commented on #108
I have reinstalled 3.0 version at it works fine.....

[2018-01-24 22:03] sNiPE18 opened #112 "Album Cover download Button...."
Hi, thanks for the 3.0.4 issues update =) works all fine!

I have a lot of Albums without Album Covers. Is it possible to create a separate Album Cover download Button in the Search Bar? The jpg filename can be named as the Artist or Album! What you thinkt? =)

[2018-01-24 23:09] Cr4sHBR opened #113 "Top Track Artist Link"
Hi there!

Its possible to download top tracks artist with a url?
I want to download (http://www.deezer.com/br/artist/2128/top_track) but when i add on deezloader 3.0.4, don't do nothing. I need to put in a playlist to do this?

Thanks a lot and good work btw!!

[2018-01-24 23:23] WilCz opened #114 "Add Select Quality of Cover Art"
Quality: Medium, High and Format: .jpg/.png

[2018-01-25 00:10] kannibleklown opened #115 "Download just stops in the middle of albums occasionally"
A lot of the time, my downloads just stop after a portion of an album, and just sits there doing nothing. Doesn't give me an error or anything.

![](https://i.imgur.com/vQsYC3W.png)